openapi: 3.2.0
info:
  title: Mesh Transactions API
  version: v2.0
servers:
- description: ComplyAdvantage Mesh API
  url: https://api.mesh.complyadvantage.com
security:
- BearerAuth: []
tags:
- name: Transactions
paths:
  /v3/transactions:
    get:
      description: 'Returns all transactions in an account with the ability to search, sort and filter.

        You need the "View Transactions" permission to use this endpoint.

        Additionally, you need either "Access to base transaction monitoring functionality" and/or "Access to base payment screening functionality" to use this endpoint.'
      operationId: meshSearchServiceGetTransactions
      parameters:
      - description: 'Sorting criteria. Allowed fields: `occurred_at`, `received_at` (default), `base_value.amount`, `base_value.currency`, `direction`. Each criterion should be a string in the format: `property_name` for ascending order, or `-property_name` for descending order. For example, to sort by occurred date descending: `-occurred_at`. Multiple sort criteria are supported. Provide each as a separate ''sort'' query parameter (e.g., `?sort=-occurred_at&sort=base_value.amount`).'
        example:
        - -occurred_at
        - base_value.amount
        in: query
        name: sort
        required: false
        schema:
          items:
            example: -direction
            type: string
          type: array
      - description: Search for a transaction using your transaction identifier. Partial Match.
        example: 00000000-0000-0000-0000-000000000000
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Search for a full match using the identifier of the customer associated with the transaction.
        example: 00000000-0000-0000-0000-000000000000
        in: query
        name: customer.identifier
        required: false
        schema:
          format: uuid
          type: string
      - description: Filter by specific transaction identifiers. Returns transactions matching any of the provided IDs (OR logic). Can be combined with other filters.
        example:
        - 00000000-0000-0000-0000-000000000000
        - 11111111-1111-1111-1111-111111111111
        in: query
        name: identifier
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Filter by minimum received date/time (inclusive). ISO 8601 format.
        example: '2023-10-26T11:00:00.000Z'
        in: query
        name: received_at_from
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter by maximum received date/time (inclusive). ISO 8601 format.
        example: '2023-10-27T11:00:00.000Z'
        in: query
        name: received_at_to
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter by minimum occurred date/time (inclusive). ISO 8601 format.
        example: '2023-10-26T10:00:00.000Z'
        in: query
        name: occurred_at_from
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter by maximum occurred date/time (inclusive). ISO 8601 format.
        example: '2023-10-27T10:00:00.000Z'
        in: query
        name: occurred_at_to
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter by transaction direction.
        example:
        - INBOUND
        in: query
        name: direction
        required: false
        schema:
          items:
            enum:
            - INBOUND
            - OUTBOUND
            type: string
          type: array
      - description: Filter by currency code (ISO 4217).
        example:
        - USD
        - EUR
        in: query
        name: base_value.currency
        required: false
        schema:
          items:
            enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BBD
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BOV
            - BRL
            - BSD
            - BTN
            - BWP
            - BYN
            - BZD
            - CAD
            - CDF
            - CHE
            - CHF
            - CHW
            - CLF
            - CLP
            - CNY
            - COP
            - COU
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DZD
            - EGP
            - ERN
            - ETB
            - EUR
            - FJD
            - FKP
            - GBP
            - GEL
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MMK
            - MNT
            - MOP
            - MRU
            - MUR
            - MVR
            - MWK
            - MXN
            - MXV
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLE
            - SLL
            - SOS
            - SRD
            - SSP
            - STN
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TWD
            - TZS
            - UAH
            - UGX
            - USD
            - USN
            - UYI
            - UYU
            - UYW
            - UZS
            - VED
            - VES
            - VND
            - VUV
            - WST
            - XAF
            - XBA
            - XBB
            - XBC
            - XBD
            - XCD
            - XDR
            - XOF
            - XPF
            - XSU
            - XUA
            - YER
            - ZAR
            - ZMW
            - ZWL
            type: string
          type: array
      - description: Filter by minimum base amount (inclusive).
        example: 100
        in: query
        name: base_value.amount_from
        required: false
        schema:
          format: double
          type: number
      - description: Filter by maximum base amount (inclusive).
        example: 5000
        in: query
        name: base_value.amount_to
        required: false
        schema:
          format: double
          type: number
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
      - description: Filter by transaction evaluation outcome.
        example:
        - HOLD
        - PENDING
        in: query
        name: evaluation_outcome
        required: false
        schema:
          items:
            enum:
            - PENDING
            - PROCESS
            - ALLOW
            - HOLD
            - ERROR
            type: string
          type: array
      - description: Filter by transaction type.
        example:
        - BANK_PAYMENT
        - CARD_PAYMENT
        - REMITTANCE
        - CRYPTO
        in: query
        name: type
        required: false
        schema:
          items:
            enum:
            - BANK_PAYMENT
            - CARD_PAYMENT
            - REMITTANCE
            - CRYPTO
            type: string
          type: array
      - description: Filter by transaction review decision.
        example:
        - RELEASE
        - REJECT
        in: query
        name: review_decision
        required: false
        schema:
          items:
            enum:
            - NOT_APPLICABLE
            - NOT_REVIEWED
            - RELEASE
            - REJECT
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_PaginatedResponseTransactionV3'
          description: OK
      summary: Get a list of transactions
      tags:
      - Transactions
  /v3/transactions/custom-fields:
    get:
      description: Returns a paginated list of transaction custom fields configured for the account.
      operationId: activityStoreListCustomFields
      parameters:
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
      - description: 'Sorting criteria in the format of: `[-]property` (`-` descending modifier).


          * Default sort order is ascending (without `-`).


          * Multiple sort criteria are supported.'
        example:
        - -timestamp
        in: query
        name: sort
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_PaginatedResponseCustomField'
          description: Paginated list of custom fields for the account
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Validation error
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: List custom fields for the account
      tags:
      - Transactions
    post:
      description: When you submit a custom field to us, an internal identifier will be assigned. This API allows you to create a custom field for your account.
      operationId: activityStoreCreateCustomField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activity_CreateCustomFieldRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_CustomField'
          description: Custom field created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Invalid request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Create a new custom field
      tags:
      - Transactions
  /v3/transactions/custom-fields/{custom_field_identifier}:
    patch:
      description: Update the display_name and/or description of an existing custom field for your account.
      operationId: activityStoreUpdateCustomField
      parameters:
      - description: The identifier of the custom field to update.
        example: 12345678-9012-3456-7890-123456789012
        in: path
        name: custom_field_identifier
        required: true
        schema:
          description: The identifier of the custom field to update.
          example: 12345678-9012-3456-7890-123456789012
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activity_UpdateCustomFieldRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_CustomField'
          description: Custom field updated successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Validation error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Custom field not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Update an existing custom field
      tags:
      - Transactions
  /v3/transactions/external/{identifier}:
    get:
      description: When you submit a Transaction to us, you provide us with your identifier for the Transaction. This API allows you to retrieve a Transaction using this identifier you supplied to us.
      operationId: activityStoreGetTransactionUsingExternalIdentifier
      parameters:
      - description: Your identifier for the transaction.
        example: YourUniqueTransactionIdentifier
        in: path
        name: identifier
        required: true
        schema:
          description: Your identifier for the transaction.
          example: YourUniqueTransactionIdentifier
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_TransactionV3'
          description: Stored Transaction Information
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Transaction not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Retrieve a Transaction using your identifier as a reference
      tags:
      - Transactions
  /v3/transactions/process:
    post:
      description: Creates a transaction and executes our payment screening and transaction monitoring processes. The response will indicate whether the transaction should be held or processed. Updates a transaction if a transaction with the same external_identifier, occurred_at, customer_external_identifier and details.type already exists but other data has changed. Supports updating existing transactions on the Synchronous Transaction Monitoring flow only; not supported for fast payment screening or async flows. This endpoint requires PAYMENT_SCREENING_BASE and/or TRANSACTION_MONITORING_BASE account permission depending on the configuration identifies supplied with the payload.
      operationId: orchestrationLayerAPIPostV3TransactionProcess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ol_CreateAndProcessTransactionDTO'
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                Transaction with configurations array (ASYNC TM with PENDING outcome):
                  description: Transaction with configurations array (ASYNC TM with PENDING outcome)
                  value:
                    evaluation_result:
                      errors: []
                      outcome: PROCESS
                      scenario_evaluations:
                      - evaluation_result_delivery:
                          method: WEBHOOK
                          webhook_identifier: 03edb86e-5b3e-444e-9727-08d92b442b59
                        outcome: PENDING
                        processing_method: ASYNCHRONOUS
                        results: []
                        scenario_configuration_identifier: 01973ffe-b3db-76b4-a114-9c2f1746f6d5
                      screening_evaluation_results:
                        outcome: PROCESS
                        payment_screening_configuration_identifier: 01974000-0e58-79c3-b4c8-755c1a00daea
                        processing_method: SYNCHRONOUS
                    transaction:
                      external_identifier: TXN-004-2023-22222
                Transaction with monitoring only (ALLOW outcome):
                  description: Transaction with monitoring only (ALLOW outcome)
                  value:
                    evaluation_result:
                      errors: []
                      outcome: ALLOW
                      scenario_evaluations:
                      - outcome: ALLOW
                        processing_method: SYNCHRONOUS
                        results:
                        - outcome: ALLOW
                          priority: 2
                          scenario_identifier: 01973ffe-9792-7666-aaa7-2f84aa243eac
                          scenario_name: Velocity Check
                        scenario_configuration_identifier: 01973ffe-b3db-76b4-a114-9c2f1746f6d5
                    transaction:
                      external_identifier: TXN-003-2023-11111
                Transaction with screening and monitoring (HOLD outcome):
                  description: Transaction with screening and monitoring (HOLD outcome)
                  value:
                    evaluation_result:
                      errors: []
                      outcome: HOLD
                      scenario_evaluations:
                      - outcome: HOLD
                        processing_method: SYNCHRONOUS
                        results:
                        - outcome: HOLD
                          priority: 1
                          scenario_identifier: 01973fff-adc2-738f-bb92-0ccf9848ddd8
                          scenario_name: High Value Transaction Monitoring
                        - outcome: ALLOW
                          priority: 3
                          scenario_identifier: 01973ffe-f268-7460-bf21-24ce26389d23
                          scenario_name: Unusual Pattern Detection
                        scenario_configuration_identifier: 01973fff-c779-7b50-b72d-f703cfad96b8
                      screening_evaluation_results:
                        outcome: PROCESS
                        payment_screening_configuration_identifier: 01973fff-de4e-795c-9265-a00596f88cbf
                        processing_method: SYNCHRONOUS
                    transaction:
                      external_identifier: TXN-002-2023-67890
                Transaction with screening only (PROCESS outcome):
                  description: Transaction with screening only (PROCESS outcome)
                  value:
                    evaluation_result:
                      errors: []
                      outcome: PROCESS
                      scenario_evaluations: []
                      screening_evaluation_results:
                        outcome: PROCESS
                        payment_screening_configuration_identifier: 01974000-0e58-79c3-b4c8-755c1a00daea
                        processing_method: SYNCHRONOUS
                    transaction:
                      external_identifier: TXN-001-2023-12345
              schema:
                $ref: '#/components/schemas/ol_TransactionResponseDTO'
          description: Transaction successfully processed
        '400':
          content:
            application/json:
              examples:
                Invalid configurations array - PS cannot be ASYNCHRONOUS:
                  description: Invalid configurations array - PS cannot be ASYNCHRONOUS
                  value:
                    detail: Configuration validation failed
                    errors:
                    - field: configurations
                      reasons:
                      - message: Asynchronous payment screening is not supported
                        reason: invalid
                      value: null
                    identifier: 01974025-5d6b-732c-ba71-a7cb6e98907f
                    status: 400
                    timestamp: '2025-05-14T09:30:04.201Z'
                    title: Validation Error
                Invalid screening configuration:
                  description: Invalid screening configuration
                  value:
                    detail: Invalid Screening Configuration Identifier
                    errors:
                    - field: screening_configuration_identifier
                      reasons:
                      - message: Missing or archived screening configuration identifier provided
                        reason: missing_or_invalid
                      value: 01974025-3d4b-7980-849b-470fa8fd096a
                    identifier: 01974025-5d6b-732c-ba71-a7cb6e98907f
                    status: 400
                    timestamp: '2025-05-14T09:30:04.201Z'
                    title: Validation Error
                Transaction external identifier too long:
                  description: Transaction external identifier too long
                  value:
                    detail: There were validation errors with your request
                    errors:
                    - field: transaction.external_identifier
                      reasons:
                      - message: size must be between 0 and 512
                        reason: reason
                      value: very_long_transaction_identifier_that_exceeds_maximum_length...
                    identifier: 01974025-94a5-788c-b4a3-513127210fd0
                    status: 400
                    timestamp: '2023-12-11T09:30:05.975Z'
                    title: Validation Error
                Unknown customer:
                  description: Unknown customer
                  value:
                    errors:
                    - field: customer_external_identifier
                      reasons:
                      - message: 'The provided customer could not be found: unknown-customer-id-12345'
                        reason: missing
                      value: unknown-customer-id-12345
                    identifier: 01974027-9600-7b78-a07f-798f1a211073
                    status: 400
                    timestamp: '2024-12-11T09:35:06.677Z'
                    title: Customer not found in our system
              schema:
                $ref: '#/components/schemas/ol_ProblemDetailErrorResponse'
          description: Validation Error
        '409':
          content:
            application/json:
              examples:
                Duplicate Transaction:
                  description: Duplicate Transaction
                  value:
                    detail: Transaction with external identifier 'TXN-DUPLICATE-123' already exists
                    errors:
                    - field: transaction.external_identifier
                      reasons:
                      - message: A transaction with this external identifier already exists
                        reason: duplicate
                      value: TXN-DUPLICATE-123
                    identifier: 01974024-d616-758c-aded-3c07eaa32c3b
                    status: 409
                    timestamp: '2023-12-11T09:30:10.975Z'
                    title: Duplicate Transaction
              schema:
                $ref: '#/components/schemas/ol_ProblemDetailErrorResponse'
          description: Duplicate Transaction
      summary: Create and process a transaction
      tags:
      - Transactions
  /v3/transactions/{identifier}:
    get:
      description: When you submit a transaction to us we allocate an internal identifier for the Transaction. This API allows you to retrieve a Transaction using the identifier we set when we received your transaction.
      operationId: activityStoreGetTransactionUsingInternalIdentifier
      parameters:
      - description: Our identifier for the transaction.
        example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
        in: path
        name: identifier
        required: true
        schema:
          description: Our identifier for the transaction.
          example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_TransactionV3'
          description: Stored Transaction Information
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Transaction not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Retrieve a Transaction using our identifier
      tags:
      - Transactions
  /v3/transactions/{identifier}/review:
    post:
      description: When a transaction is held (evaluation_outcome=HOLD), a decision can be made to either release or reject the transaction. This decision will be recorded in the review_decision field and sent as a webhook, if configured. This endpoint cannot be used for transactions that are not held.
      operationId: activityStorePostTransactionReviewDecision
      parameters:
      - description: Our identifier for the transaction.
        example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
        in: path
        name: identifier
        required: true
        schema:
          description: Our identifier for the transaction.
          example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activity_ReviewDecisionRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ReviewDecisionResponse'
          description: Review decision created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Review decision can only be applied to HOLD outcome
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Transaction not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Make a decision on a held transaction
      tags:
      - Transactions
  /v3/transactions/{identifier}/risk_types:
    put:
      description: This endpoint allows you to set the risk types for a transaction. Currently supports setting the risk to 'r_fraud' or removing all risks by passing an empty list.
      operationId: activityStoreSetTransactionRiskTypes
      parameters:
      - description: Internal identifier for the transaction.
        example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
        in: path
        name: identifier
        required: true
        schema:
          description: Internal identifier for the transaction.
          example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activity_TransactionRiskTypesRequestBody'
        required: true
      responses:
        '204':
          description: Transaction risks set successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Invalid risk type value - must be one of the allowed values [r_fraud]
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Transaction not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Set or clear risk types for a transaction
      tags:
      - Transactions
  /v3/transactions/{identifier}/versions:
    get:
      description: Returns a paginated list of all versions of a Transaction, sorted by version in descending order. Initially every transaction has exactly one version.
      operationId: activityStoreListTransactionVersions
      parameters:
      - description: Our identifier for the transaction.
        example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
        in: path
        name: identifier
        required: true
        schema:
          description: Our identifier for the transaction.
          example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
          format: uuid
          type: string
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          minimum: 1
          type: integer
      - description: 'Sorting criteria in the format of: `[-]property` (`-` descending modifier).


          * Default sort order is ascending (without `-`).


          * Multiple sort criteria are supported.'
        example:
        - -timestamp
        in: query
        name: sort
        required: false
        schema:
          default:
          - -version
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_PaginatedResponseTransactionV3'
          description: Paginated list of Transaction versions, sorted by version descending
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Transaction not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Retrieve all versions of a Transaction
      tags:
      - Transactions
  /v3/transactions/{identifier}/versions/{version}:
    get:
      description: When you submit a transaction to us we allocate an internal identifier for the Transaction. This API allows you to retrieve a specific version of a Transaction using the identifier we set when we received your transaction.
      operationId: activityStoreGetTransactionVersionByInternalIdentifier
      parameters:
      - description: Our identifier for the transaction.
        example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
        in: path
        name: identifier
        required: true
        schema:
          description: Our identifier for the transaction.
          example: 01966d5b-e4fa-7b60-a2d7-5b5225fbd39a
          format: uuid
          type: string
      - description: The version of the transaction.
        example: 1
        in: path
        name: version
        required: true
        schema:
          description: The version of the transaction.
          example: 1
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_TransactionV3'
          description: Stored Transaction Information
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Transaction not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activity_ProblemDetailErrorResponse'
          description: Internal Server Error
      summary: Retrieve a specific version of a Transaction using our identifier
      tags:
      - Transactions
components:
  schemas:
    activity_CounterpartyPartyIdentifierV3:
      allOf:
      - $ref: '#/components/schemas/activity_PartyIdentifierV3'
      - properties:
          bank_account:
            $ref: '#/components/schemas/activity_BankAccountV3'
          external_identifier:
            description: Your unique identifier for Counterparty to which this Party is linked.
            example: MyCounterpartyIdentifier
            maxLength: 512
            minLength: 0
            type: string
        type: object
      description: Represents the identification details of a counterparty.
      required:
      - type
      title: Counterparty Party Identifier
      type: object
    ol_AddressV3:
      description: Address of the ATM.
      discriminator:
        propertyName: format
      properties:
        format:
          $ref: '#/components/schemas/ol_AddressFormatV3'
      required:
      - format
      type: object
    ol_AuthorizationInfoV3:
      description: Authorization information.
      properties:
        identifier:
          description: Unique authorization identifier.
          example: auth_123456789
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        response:
          $ref: '#/components/schemas/ol_AuthorizationResponseV3'
        state:
          description: Represents the state of an authorization request.
          enum:
          - APPROVED
          - DECLINED
          - PENDING
          - EXPIRED
          - CANCELLED
          example: APPROVED
          type:
          - string
          - 'null'
        timestamp:
          description: Authorization timestamp.
          example: '2024-01-15T10:30:00.000Z'
          format: date-time
          type:
          - string
          - 'null'
        type:
          description: Type of authorization for a card payment.
          enum:
          - PREAUTHORIZATION
          - AUTHORIZATION
          example: AUTHORIZATION
          type:
          - string
          - 'null'
        value:
          $ref: '#/components/schemas/ol_MonetaryValueV3'
      type: object
    search_PaymentStagesInfoV3:
      description: Payment stages information.
      properties:
        authorization:
          $ref: '#/components/schemas/search_AuthorizationInfoV3'
        chargeback:
          $ref: '#/components/schemas/search_ChargebackInfoV3'
        refund:
          $ref: '#/components/schemas/search_RefundInfoV3'
        reversal:
          $ref: '#/components/schemas/search_ReversalInfoV3'
        settlement:
          $ref: '#/components/schemas/search_SettlementInfoV3'
      type: object
    search_CardVerificationResultsV3:
      description: Represents card verification results including CVV, AVS, and identity checks.
      properties:
        avs_check:
          $ref: '#/components/schemas/search_VerificationCheckV3'
        cvc_check:
          $ref: '#/components/schemas/search_VerificationCheckV3'
        three_d_secure_check:
          $ref: '#/components/schemas/search_VerificationCheckV3'
      type: object
    ol_RemittanceSourceOfFundsV3:
      description: The source of funds for the remittance transaction.
      enum:
      - SALARY
      - BUSINESS_INCOME
      - SAVINGS
      - INVESTMENTS
      - PENSION
      - LOAN
      - GIFT
      - INHERITANCE
      - ASSET_SALE
      - INSURANCE_PAYOUT
      - GOVERNMENT_BENEFITS
      - TRUST_DISTRIBUTION
      - CRYPTO_LIQUIDATION
      - CROWDFUNDING
      - GAMBLING_WINNINGS
      - OTHER
      type: string
    ol_RemittanceCreditorV3:
      description: Represents the creditor in a remittance transaction.
      properties:
        cash_pickup:
          $ref: '#/components/schemas/ol_CashPickupDetailsV3'
        details:
          $ref: '#/components/schemas/ol_PartyIdentificationV3'
      required:
      - details
      type: object
    ol_AddressFormatV3:
      description: Represents the format of the address used for a party.
      enum:
      - STRUCTURED
      - UNSTRUCTURED
      example: STRUCTURED
      type: string
    activity_RemittanceServiceProviderV3:
      description: Represents a remittance service provider's details.
      properties:
        identifier:
          description: The unique identifier for the remittance service provider.
          example: RSP-12345
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        name:
          description: The name of the remittance service provider.
          example: Western Union
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/activity_RemittanceServiceProviderTypeV3'
      type: object
    ol_ClearingIdentifierV3:
      description: ClearingIdentifier pairs a routing system with its specific value.
      properties:
        type:
          description: ClearingIdentifierType specifies the regional system used to route payments to a specific financial institution. These align with ISO 20022 External Clearing System Identification Codes.
          enum:
          - UK_SORT_CODE
          - US_ABA_ROUTING
          - IN_IFSC
          - AU_BSB
          - CA_TRANSIT
          - DE_BLZ
          - HK_BANK_CODE
          - SG_BANK_CODE
          - NZ_BANK_CODE
          - ZA_CLEARING_CODE
          - CH_SIC
          - JP_ZENGIN
          - OTHER
          type: string
        value:
          description: The raw string value of the code. For monitoring, this should be stored as-is without formatting/dashes.
          example: '123456'
          type: string
      required:
      - type
      - value
      type: object
    search_PartyIdentifierV3:
      description: Party identifier details
      discriminator:
        propertyName: type
      properties:
        type:
          description: The type of party identifier.
          enum:
          - CUSTOMER
          - COUNTERPARTY
          example: CUSTOMER
          type: string
      required:
      - type
      type: object
    search_DecimalEnrichmentValueV3:
      allOf:
      - $ref: '#/components/schemas/search_EnrichmentValueV3'
      - properties:
          decimal:
            description: The decimal value
            example: 98.33
            type: number
        type: object
      description: Decimal representation of the enrichment value.
      required:
      - data_type
      - decimal
      title: Decimal Value
      type: object
    ol_Salary:
      properties:
        amount:
          $ref: '#/components/schemas/ol_LongRange'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - TMT
          - UGX
          - UAH
          - AED
          - USN
          - UYU
          - UYI
          - UYW
          - UZS
          - VUV
          - VES
          - VED
          - VND
          - YER
          - ZMW
          - ZWL
          - XBA
          - XBB
          - XBC
          - XBD
          - XTS
          - XAU
          - XPD
          - XPT
          - XAG
          format: iso-4217
          type:
          - string
          - 'null'
      type: object
    activity_VerificationCheckV3:
      description: Represents a verification check with result and optional description.
      properties:
        description:
          description: Human-readable verification check description.
          example: Address and ZIP code match
          maxLength: 200
          minLength: 0
          type:
          - string
          - 'null'
        result:
          $ref: '#/components/schemas/activity_VerificationCheckResultV3'
      type: object
    search_AddressFormatV3:
      description: Represents the format of the address used for a party.
      enum:
      - STRUCTURED
      - UNSTRUCTURED
      example: STRUCTURED
      type: string
    activity_MonetaryTransactionClassificationDetailsV3:
      allOf:
      - $ref: '#/components/schemas/activity_TransactionClassificationDetailsV3'
      - properties:
          base_value:
            $ref: '#/components/schemas/activity_MonetaryValueV3'
          customer_account_balance:
            $ref: '#/components/schemas/activity_AccountBalanceV3'
          details:
            discriminator:
              mapping:
                BANK_PAYMENT: '#/components/schemas/activity_BankPaymentMonetaryTransactionTypeDetailsV3'
                CARD_PAYMENT: '#/components/schemas/activity_CardPaymentMonetaryTransactionTypeDetailsV3'
                CRYPTO: '#/components/schemas/activity_CryptoMonetaryTransactionTypeDetailsV3'
                REMITTANCE: '#/components/schemas/activity_RemittanceMonetaryTransactionTypeDetailsV3'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/activity_BankPaymentMonetaryTransactionTypeDetailsV3'
            - $ref: '#/components/schemas/activity_CardPaymentMonetaryTransactionTypeDetailsV3'
            - $ref: '#/components/schemas/activity_CryptoMonetaryTransactionTypeDetailsV3'
            - $ref: '#/components/schemas/activity_RemittanceMonetaryTransactionTypeDetailsV3'
          direction:
            $ref: '#/components/schemas/activity_MonetaryTransactionDirectionV3'
          local_value:
            $ref: '#/components/schemas/activity_MonetaryValueV3'
          payment_channel:
            $ref: '#/components/schemas/activity_PaymentChannelV3'
          product_name:
            description: The freeform name of the product being used to perform the financial transaction.
            example: Product X, Issue 1
            maxLength: 256
            minLength: 0
            type: string
          reference_text:
            description: The reference text supplied as part of the financial transaction (if any).
            example: Invoice 1234
            maxLength: 512
            minLength: 0
            type: string
          value:
            $ref: '#/components/schemas/activity_MonetaryValueV3'
        type: object
      description: Details related to a monetary transaction.
      required:
      - base_value
      - classification
      - details
      title: Monetary Transaction Details
      type: object
    ol_CardWalletTypeV3:
      description: Defines the type of digital wallet.
      enum:
      - GOOGLE_PAY
      - APPLE_PAY
      - PAYPAL
      - REMOTE_COMMERCE_PROGRAMS
      - OTHER
      example: APPLE_PAY
      type: string
    ol_NetWorth:
      properties:
        amount:
          format: int64
          type:
          - integer
          - 'null'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - TMT
          - UGX
          - UAH
          - AED
          - USN
          - UYU
          - UYI
          - UYW
          - UZS
          - VUV
          - VES
          - VED
          - VND
          - YER
          - ZMW
          - ZWL
          - XBA
          - XBB
          - XBC
          - XBD
          - XTS
          - XAU
          - XPD
          - XPT
          - XAG
          format: iso-4217
          type:
          - string
          - 'null'
      type: object
    activity_MonetaryTransactionTypeV3:
      description: Defines the type of a monetary transaction.
      enum:
      - BANK_PAYMENT
      - CARD_PAYMENT
      - REMITTANCE
      - CRYPTO
      example: BANK_PAYMENT
      type: string
    search_MonetaryValueV3:
      description: Represents a combination of a decimal amount with a currency.
      properties:
        amount:
          description: The decimal amount/value.
          example: 10.02
          type: number
        crypto_asset:
          $ref: '#/components/schemas/search_CryptoAssetV3'
        currency:
          description: 3 letter currency code as defined by ISO-4217.
          example: EUR
          format: iso-4217
          maxLength: 3
          minLength: 3
          type:
          - string
          - 'null'
      required:
      - amount
      type: object
    search_BankV3:
      description: Represents a bank's details.
      properties:
        bic:
          description: The Business Identifier Code (BIC) of the bank. Also known as SWIFT code.
          example: ABCDGB01A1B
          pattern: ^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$
          type:
          - string
          - 'null'
        legal_entity_address:
          $ref: '#/components/schemas/search_StructuredAddressV3'
        name:
          description: The name of the bank.
          example: Deutsche Bank
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    search_TransactionV3:
      description: Represents a Transaction performed by a Customer. A Transaction can be either monetary or non-monetary.
      properties:
        custom_fields:
          description: A list of custom fields attached to the Transaction.
          items:
            $ref: '#/components/schemas/search_CustomFieldV3'
          maxItems: 10
          minItems: 0
          type:
          - array
          - 'null'
        customer_external_identifier:
          description: Your unique identifier for customer that the Transaction is associated with. We will populate this after mapping your customer identifier to ours as we process your Transaction.
          example: MyUniqueCustomerReference
          maxLength: 512
          minLength: 0
          type: string
        customer_identifier:
          description: Our unique identifier for customer that the Transaction is associated with. We will populate this after mapping your customer identifier to ours as we process your Transaction.
          example: 0195fb35-4793-7bb5-8042-e4371640d176
          format: uuid
          readOnly: true
          type: string
        details:
          discriminator:
            mapping:
              MONETARY: '#/components/schemas/search_MonetaryTransactionClassificationDetailsV3'
            propertyName: classification
          oneOf:
          - $ref: '#/components/schemas/search_MonetaryTransactionClassificationDetailsV3'
        enrichments:
          description: A list of enrichments applied to the Transaction.
          items:
            $ref: '#/components/schemas/search_EnrichmentV3'
          readOnly: true
          type:
          - array
          - 'null'
        evaluation_outcome:
          description: The combined outcome of all transaction evaluations.
          enum:
          - PENDING
          - PROCESS
          - ALLOW
          - HOLD
          - ERROR
          readOnly: true
          type: string
        external_identifier:
          description: Your unique identifier for the Transaction. You will use this to reference the Transaction within our systems. This cannot be changed after submitting the Transaction.
          example: MyUniqueIdentifier
          maxLength: 512
          minLength: 0
          type: string
        identifier:
          description: Our unique identifier for your Transaction. We generate this when we process your Transaction and you are not able to specify it.
          format: uuid
          readOnly: true
          type:
          - string
          - 'null'
        initiating_channel:
          discriminator:
            mapping:
              ATM: '#/components/schemas/search_AtmChannelV3'
              DEVICE: '#/components/schemas/search_DeviceChannelV3'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/search_AtmChannelV3'
          - $ref: '#/components/schemas/search_DeviceChannelV3'
        occurred_at:
          description: The timestamp of the Transaction. This is the timestamp you want us to use as this transactions position in time for the purposes of risk analysis. This timestamp can contain offset information.
          example: '2025-04-03T03:32:00.000Z'
          format: date-time
          type: string
        product:
          discriminator:
            mapping:
              LOAN: '#/components/schemas/search_LoanProductV3'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/search_LoanProductV3'
        received_at:
          description: The timestamp the Transaction event was received by us.
          example: '2025-04-03T11:32:00.000Z'
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        regulatory_reporting_details:
          $ref: '#/components/schemas/search_RegulatoryReportDetailsV3'
        review_decision:
          description: Represents the states of review decision
          enum:
          - NOT_APPLICABLE
          - NOT_REVIEWED
          - RELEASE
          - REJECT
          readOnly: true
          type: string
        version:
          description: The version of the transaction.
          example: 3
          format: int32
          minimum: 1
          readOnly: true
          type: integer
      required:
      - customer_external_identifier
      - customer_identifier
      - details
      - evaluation_outcome
      - external_identifier
      - occurred_at
      - review_decision
      - version
      type: object
    activity_CardHolderV3:
      description: Represents a card holder with party identification details and onboarding information.
      properties:
        details:
          $ref: '#/components/schemas/activity_PartyIdentificationV3'
      type: object
    search_GeographicCoordinatesV3:
      description: Geographic location represented by the latitude and longitude.
      properties:
        latitude:
          description: 'The angular distance north or south of the Earth''s equator, measured in degrees. Valid range: -90 to +90, where negative values represent southern latitudes and positive values represent northern latitudes.'
          example: -34.603722
          maximum: 90
          minimum: -90
          type: number
        longitude:
          description: 'The angular distance east or west of the prime meridian, measured in degrees. Valid range: -180 to +180, where negative values represent western longitudes and positive values represent eastern longitudes.'
          example: 148.516389
          maximum: 180
          minimum: -180
          type: number
      required:
      - latitude
      - longitude
      type: object
    search_PointOfSaleConditionV3:
      description: Contains contextual information about the card payment environment.
      properties:
        condition:
          $ref: '#/components/schemas/search_PointOfSaleConditionCodeV3'
        entry_mode:
          $ref: '#/components/schemas/search_PointOfSaleEntryModeV3'
      type: object
    ol_MonetaryTransactionClassificationDetailsV3:
      allOf:
      - $ref: '#/components/schemas/ol_TransactionClassificationDetailsV3'
      - properties:
          base_value:
            $ref: '#/components/schemas/ol_MonetaryValueV3'
          customer_account_balance:
            $ref: '#/components/schemas/ol_AccountBalanceV3'
          details:
            discriminator:
              mapping:
                BANK_PAYMENT: '#/components/schemas/ol_BankPaymentMonetaryTransactionTypeDetailsV3'
                CARD_PAYMENT: '#/components/schemas/ol_CardPaymentMonetaryTransactionTypeDetailsV3'
                CRYPTO: '#/components/schemas/ol_CryptoMonetaryTransactionTypeDetailsV3'
                REMITTANCE: '#/components/schemas/ol_RemittanceMonetaryTransactionTypeDetailsV3'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/ol_BankPaymentMonetaryTransactionTypeDetailsV3'
            - $ref: '#/components/schemas/ol_CardPaymentMonetaryTransactionTypeDetailsV3'
            - $ref: '#/components/schemas/ol_CryptoMonetaryTransactionTypeDetailsV3'
            - $ref: '#/components/schemas/ol_RemittanceMonetaryTransactionTypeDetailsV3'
          direction:
            $ref: '#/components/schemas/ol_MonetaryTransactionDirectionV3'
          local_value:
            $ref: '#/components/schemas/ol_MonetaryValueV3'
          payment_channel:
            $ref: '#/components/schemas/ol_PaymentChannelV3'
          product_name:
            description: The freeform name of the product being used to perform the financial transaction.
            example: Product X, Issue 1
            maxLength: 256
            minLength: 0
            type: string
          reference_text:
            description: The reference text supplied as part of the financial transaction (if any).
            example: Invoice 1234
            maxLength: 512
            minLength: 0
            type: string
          value:
            $ref: '#/components/schemas/ol_MonetaryValueV3'
        type: object
      description: Details related to a monetary transaction.
      required:
      - base_value
      - classification
      - details
      title: Monetary Transaction Details
      type: object
    search_MoneyTransferOperatorV3:
      description: Represents a money transfer operator's details.
      properties:
        identifier:
          description: A unique identifier for the money transfer operator, such as a SWIFT BIC or regulatory identifier.
          example: WUIBUS6S
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        name:
          description: The legal name of the money transfer operator.
          example: Western Union
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    activity_CardFundingTypeV3:
      description: Defines the funding type of a payment card.
      enum:
      - CREDIT
      - DEBIT
      - PREPAID
      - OTHER
      example: CREDIT
      type: string
    search_BankPaymentStateV3:
      description: The possible states of a bank payment transaction.
      enum:
      - PENDING
      - BOOKED
      example: BOOKED
      type: string
    search_RemittanceRelationshipV3:
      description: The relationship between the sender and receiver in a remittance transaction.
      enum:
      - SPOUSE
      - FAMILY
      - FRIEND
      - BUSINESS_PARTNER
      - EMPLOYEE
      - OTHER
      type: string
    ol_ResidentialInformation:
      properties:
        country_of_residence:
          enum:
          - AF
          - AX
          - AL
          - AN
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BQ
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - CV
          - KH
          - CM
          - CA
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - SZ
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KP
          - KR
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - MK
          - RO
          - RU
          - RW
          - RE
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - SS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - UM
          - US
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - XK
          - XT
          - XX
          - YE
          - ZM
          - ZW
          format: iso-3166-alpha-2
          type:
          - string
          - 'null'
        residential_status:
          enum:
          - RESIDENT
          - PERMANENT_RESIDENT
          - NON_RESIDENT
          - TAX_RESIDENT
          type:
          - string
          - 'null'
      type: object
    search_InternetProtocolAddressV3:
      description: Represents an Internet Protocol (IP) address with its associated type information.
      properties:
        address:
          description: The IP address in the native format.
          example: 192.168.1.1
          pattern: ((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))
          type: string
        type:
          $ref: '#/components/schemas/search_InternetProtocolInformationV3'
      required:
      - address
      - type
      type: object
    activity_LocalAccountDetailsV3:
      description: Represents banking information for 'domestic rail' transactions where a global standard like IBAN is not used.
      properties:
        account_number:
          description: The primary account number (BAN).
          type: string
        account_number_suffix:
          description: Regional extension for specific markets. In the NZ, this is the 2-3 digit suffix distinguishing sub-accounts. In the UK, this could contain a building society roll number.
          type:
          - string
          - 'null'
        clearing_identifier:
          $ref: '#/components/schemas/activity_ClearingIdentifierV3'
      required:
      - account_number
      - clearing_identifier
      type: object
    activity_PaginatedResponseTransactionV3:
      properties:
        first:
          description: The URL path to the first page.
          example: /v1/resource?page_number=1
          type: string
        next:
          description: The URL path to the next page.
          example: /v1/resource?page_number=4
          type:
          - string
          - 'null'
        prev:
          description: The URL path to the previous page.
          example: /v1/resource?page_number=2
          type:
          - string
          - 'null'
        self:
          description: The URL path to the current page.
          example: /v1/resource?page_number=3
          type: string
        total_count:
          description: Total number of items.
          example: 60
          format: int64
          type:
          - integer
          - 'null'
        transactions:
          items:
            $ref: '#/components/schemas/activity_TransactionV3'
          type: array
      required:
      - first
      - self
      - transactions
      type: object
    ol_CryptoAssetV3:
      description: The asset that was transacted.
      properties:
        identifier:
          $ref: '#/components/schemas/ol_Caip19IdentifierV3'
        symbol:
          description: Human friendly short symbol.
          example: BTC
          type:
          - string
          - 'null'
      required:
      - identifier
      type: object
    ol_VirtualAssetServiceProviderV3:
      description: Type for storing VASP details.
      properties:
        name:
          description: The name of the VASP.
          type: string
      required:
      - name
      type: object
    ol_VerificationCheckV3:
      description: Represents a verification check with result and optional description.
      properties:
        description:
          description: Human-readable verification check description.
          example: Address and ZIP code match
          maxLength: 200
          minLength: 0
          type:
          - string
          - 'null'
        result:
          $ref: '#/components/schemas/ol_VerificationCheckResultV3'
      type: object
    search_RemittanceSourceOfFundsV3:
      description: The source of funds for the remittance transaction.
      enum:
      - SALARY
      - BUSINESS_INCOME
      - SAVINGS
      - INVESTMENTS
      - PENSION
      - LOAN
      - GIFT
      - INHERITANCE
      - ASSET_SALE
      - INSURANCE_PAYOUT
      - GOVERNMENT_BENEFITS
      - TRUST_DISTRIBUTION
      - CRYPTO_LIQUIDATION
      - CROWDFUNDING
      - GAMBLING_WINNINGS
      - OTHER
      type: string
    ol_BankAccountV3:
      description: Represent bank account details
      properties:
        bank:
          $ref: '#/components/schemas/ol_BankV3'
        iban:
          description: Bank account iban number
          pattern: ^[a-zA-Z]{2}\d{2}.*
          type:
          - string
          - 'null'
        local:
          $ref: '#/components/schemas/ol_LocalAccountDetailsV3'
      required:
      - bank
      type: object
    search_RemittanceCreditorV3:
      description: Represents the creditor in a remittance transaction.
      properties:
        cash_pickup:
          $ref: '#/components/schemas/search_CashPickupDetailsV3'
        details:
          $ref: '#/components/schemas/search_PartyIdentificationV3'
      required:
      - details
      type: object
    ol_MonetaryTransactionTypeDetailsV3:
      description: Details specific to the a Monetary Transaction.
      discriminator:
        propertyName: type
      properties:
        type:
          $ref: '#/components/schemas/ol_MonetaryTransactionTypeV3'
      required:
      - type
      type: object
    ol_Person:
      properties:
        address:
          items:
            $ref: '#/components/schemas/ol_Address'
          type:
          - array
          - 'null'
        contact_information:
          $ref: '#/components/schemas/ol_ContactInformation'
        country_of_birth:
          enum:
          - AF
          - AX
          - AL
          - AN
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BQ
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - CV
          - KH
          - CM
          - CA
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - SZ
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KP
          - KR
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - MK
          - RO
          - RU
          - RW
          - RE
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - SS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - UM
          - US
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - XK
          - XT
          - XX
          - YE
          - ZM
          - ZW
          format: iso-3166-alpha-2
          type:
          - string
          - 'null'
        custom_fields:
          items:
            $ref: '#/components/schemas/ol_CustomFieldInstance'
          type:
          - array
          - 'null'
        date_of_birth:
          $ref: '#/components/schemas/ol_Date'
        fathers_name:
          description: Field to capture the patronymic name of the customer
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        first_name:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
        full_name:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        gender:
          enum:
          - MALE
          - FEMALE
          - NOT_KNOWN
          - OTHER
          type:
          - string
          - 'null'
        industry:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        last_name:
          maxLength: 100
          minLength: 0
          type: string
        middle_name:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        mothers_name:
          description: Field to capture the matronymic name of the customer
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        nationality:
          format: iso-3166-alpha-2
          items:
            enum:
            - AF
            - AX
            - AL
            - AN
            - DZ
            - AS
            - AD
            - AO
            - AI
            - AQ
            - AG
            - AR
            - AM
            - AW
            - AU
            - AT
            - AZ
            - BS
            - BH
            - BD
            - BB
            - BY
            - BE
            - BZ
            - BJ
            - BM
            - BT
            - BO
            - BQ
            - BA
            - BW
            - BV
            - BR
            - IO
            - BN
            - BG
            - BF
            - BI
            - CV
            - KH
            - CM
            - CA
            - KY
            - CF
            - TD
            - CL
            - CN
            - CX
            - CC
            - CO
            - KM
            - CG
            - CD
            - CK
            - CR
            - CI
            - HR
            - CU
            - CW
            - CY
            - CZ
            - DK
            - DJ
            - DM
            - DO
            - EC
            - EG
            - SV
            - GQ
            - ER
            - EE
            - SZ
            - ET
            - FK
            - FO
            - FJ
            - FI
            - FR
            - GF
            - PF
            - TF
            - GA
            - GM
            - GE
            - DE
            - GH
            - GI
            - GR
            - GL
            - GD
            - GP
            - GU
            - GT
            - GG
            - GN
            - GW
            - GY
            - HT
            - HM
            - VA
            - HN
            - HK
            - HU
            - IS
            - IN
            - ID
            - IR
            - IQ
            - IE
            - IM
            - IL
            - IT
            - JM
            - JP
            - JE
            - JO
            - KZ
            - KE
            - KI
            - KP
            - KR
            - KW
            - KG
            - LA
            - LV
            - LB
            - LS
            - LR
            - LY
            - LI
            - LT
            - LU
            - MO
            - MG
            - MW
            - MY
            - MV
            - ML
            - MT
            - MH
            - MQ
            - MR
            - MU
            - YT
            - MX
            - FM
            - MD
            - MC
            - MN
            - ME
            - MS
            - MA
            - MZ
            - MM
            - NA
            - NR
            - NP
            - NL
            - NC
            - NZ
            - NI
            - NE
            - NG
            - NU
            - NF
            - MP
            - 'NO'
            - OM
            - PK
            - PW
            - PS
            - PA
            - PG
            - PY
            - PE
            - PH
            - PN
            - PL
            - PT
            - PR
            - QA
            - MK
            - RO
            - RU
            - RW
            - RE
            - BL
            - SH
            - KN
            - LC
            - MF
            - PM
            - VC
            - WS
            - SM
            - ST
            - SA
            - SN
            - RS
            - SC
            - SL
            - SG
            - SX
            - SK
            - SI
            - SB
            - SO
            - ZA
            - GS
            - SS
            - ES
            - LK
            - SD
            - SR
            - SJ
            - SE
            - CH
            - SY
            - TW
            - TJ
            - TZ
            - TH
            - TL
            - TG
            - TK
            - TO
            - TT
            - TN
            - TR
            - TM
            - TC
            - TV
            - UG
            - UA
            - AE
            - GB
            - UM
            - US
            - UY
            - UZ
            - VU
            - VE
            - VN
            - VG
            - VI
            - WF
            - EH
            - XK
            - XT
            - XX
            - YE
            - ZM
            - ZW
            format: iso-3166-alpha-2
            type: string
          type:
          - array
          - 'null'
        net_worth:
          $ref: '#/components/schemas/ol_NetWorth'
        personal_identification:
          items:
            $ref: '#/components/schemas/ol_PersonalIdentification'
          type:
          - array
          - 'null'
        profession:
          items:
            type: string
          type:
          - array
          - 'null'
        residential_information:
          items:
            $ref: '#/components/schemas/ol_ResidentialInformation'
          type:
          - array
          - 'null'
        salary:
          $ref: '#/components/schemas/ol_Salary'
        source_of_income:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        source_of_wealth:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        suffix:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        title:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
      required:
      - last_name
      type: object
    activity_TextValueV3:
      allOf:
      - $ref: '#/components/schemas/activity_CustomFieldValueV3'
      - properties:
          text:
            description: The text content.
            example: Text Field Value
            maxLength: 256
            minLength: 0
            type: string
        type: object
      description: String representation of the custom field value.
      required:
      - data_type
      - text
      title: Text Value
      type: object
    search_LoanProductV3:
      allOf:
      - $ref: '#/components/schemas/search_ProductV3'
      - properties:
          base_loan_value:
            $ref: '#/components/schemas/search_MonetaryValueV3'
          base_remaining_balance_value:
            $ref: '#/components/schemas/search_MonetaryValueV3'
          expected_installment_count:
            description: The expected number of loan installments to be made.
            example: 12
            format: int32
            type: integer
          expected_repayment_date:
            description: The expected repayment date of the loan.
            example: '2025-04-03T00:00:00.000Z'
            format: date
            type: string
          funded_at:
            description: The timestamp the loan was funded.
            example: '2025-04-03T11:32:00.000Z'
            format: date-time
            type: string
          loan_type:
            $ref: '#/components/schemas/search_LoanTypeV3'
          loan_value:
            $ref: '#/components/schemas/search_MonetaryValueV3'
          remaining_balance_value:
            $ref: '#/components/schemas/search_MonetaryValueV3'
          settled_at:
            description: The timestamp the loan was settled.
            example: '2025-04-03T11:32:00.000Z'
            format: date-time
            type: string
        type: object
      description: Represents a loan product.
      required:
      - base_loan_value
      - base_remaining_balance_value
      - loan_type
      - type
      title: Loan
      type: object
    ol_RemittanceMonetaryTransactionTypeDetailsV3:
      allOf:
      - $ref: '#/components/schemas/ol_MonetaryTransactionTypeDetailsV3'
      - properties:
          agents:
            description: Any intermediaries involved in the transaction between the creditor and the debtor.
            items:
              $ref: '#/components/schemas/ol_AgentV3'
            maxItems: 10
            minItems: 0
            type: array
          collection_method:
            $ref: '#/components/schemas/ol_RemittancePaymentMethodV3'
          creditor:
            $ref: '#/components/schemas/ol_RemittanceCreditorV3'
          debtor:
            $ref: '#/components/schemas/ol_PartyIdentificationV3'
          payment_scheme:
            $ref: '#/components/schemas/ol_PaymentSchemeV3'
          purpose_of_payment:
            $ref: '#/components/schemas/ol_RemittancePurposeV3'
          relationship:
            $ref: '#/components/schemas/ol_RemittanceRelationshipV3'
          service_provider:
            $ref: '#/components/schemas/ol_RemittanceServiceProviderV3'
          source_of_funds:
            $ref: '#/components/schemas/ol_RemittanceSourceOfFundsV3'
          source_payment_method:
            $ref: '#/components/schemas/ol_RemittancePaymentMethodV3'
          ultimate_creditor:
            $ref: '#/components/schemas/ol_PartyIdentificationV3'
          ultimate_debtor:
            $ref: '#/components/schemas/ol_PartyIdentificationV3'
        type: object
      description: Models a cross-border remittance payment transaction between parties in different countries.
      required:
      - creditor
      - debtor
      - type
      title: Remittance Details
      type: object
    search_TransactionClassificationDetailsV3:
      description: Details specific to the Transaction classification.
      discriminator:
        propertyName: classification
      properties:
        classification:
          $ref: '#/components/schemas/search_TransactionClassificationV3'
      required:
      - classification
      type: object
    ol_PaymentSchemeV3:
      description: The payment scheme that was used to initiate the financial transaction.
      enum:
      - OTHER
      - SWIFT
      - SEPA
      - SEPA_INSTANT
      - FASTER_PAYMENTS
      - CHAPS
      - BACS
      - FEDNOW
      example: SWIFT
      type: string
    search_PartyIdentificationV3:
      description: Represents the identification details of a party. This includes not just the party's identifier, but also any other identifying information specific to the transaction such as alternate names or addresses.
      properties:
        address:
          discriminator:
            mapping:
              STRUCTURED: '#/components/schemas/search_StructuredAddressV3'
              UNSTRUCTURED: '#/components/schemas/search_UnstructuredAddressV3'
            propertyName: format
          oneOf:
          - $ref: '#/components/schemas/search_StructuredAddressV3'
          - $ref: '#/components/schemas/search_UnstructuredAddressV3'
        identifier:
          discriminator:
            mapping:
              COUNTERPARTY: '#/components/schemas/search_CounterpartyPartyIdentifierV3'
              CUSTOMER: '#/components/schemas/search_CustomerPartyIdentifierV3'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/search_CounterpartyPartyIdentifierV3'
          - $ref: '#/components/schemas/search_CustomerPartyIdentifierV3'
        name:
          description: The name of the party.
          example: John Doe
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    search_AddressTypeV3:
      description: Represents the type of address.
      enum:
      - RESIDENTIAL
      - MAILING
      - OPERATING
      - REGISTRATION
      - BILLING
      example: MAILING
      type: string
    activity_RemittancePaymentMethodV3:
      description: The payment method used for remittance transactions.
      enum:
      - CASH
      - CREDIT_CARD
      - DEBIT_CARD
      - BANK_TRANSFER
      - MOBILE_WALLET
      - PREPAID_CARD
      - CHEQUE
      - CRYPTOCURRENCY
      - GIFT_CARD
      - POSTAL_ORDER
      - BARTER
      - OTHER
      example: CASH
      type: string
    ol_BankV3:
      description: Represents a bank's details.
      properties:
        bic:
          description: The Business Identifier Code (BIC) of the bank. Also known as SWIFT code.
          example: ABCDGB01A1B
          pattern: ^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$
          type:
          - string
          - 'null'
        legal_entity_address:
          $ref: '#/components/schemas/ol_StructuredAddressV3'
        name:
          description: The name of the bank.
          example: Deutsche Bank
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    search_MonetaryTransactionTypeDetailsV3:
      description: Details specific to the a Monetary Transaction.
      discriminator:
        propertyName: type
      properties:
        type:
          $ref: '#/components/schemas/search_MonetaryTransactionTypeV3'
      required:
      - type
      type: object
    ol_CardSchemeV3:
      description: Represents the card scheme/network that issued the card.
      enum:
      - VISA
      - MASTERCARD
      - AMERICAN_EXPRESS
      - DISCOVER
      - JCB
      - UNIONPAY
      - DINERS_CLUB
      - MAESTRO
      - RUPAY
      - MIR
      example: VISA
      type: string
    ol_CryptoWalletV3:
      description: Represents a cryptocurrency wallet involved in a transaction.
      properties:
        chain:
          $ref: '#/components/schemas/ol_BlockchainV3'
        managing_exchange:
          description: The human readable friendly name of the exchange that the wallet resides on, if applicable.
          type:
          - string
          - 'null'
        wallet_identifier:
          description: The crypto wallet identifier. Typically the address of the wallet. (public key)
          type: string
      required:
      - chain
      - wallet_identifier
      type: object
    search_TextValueV3:
      allOf:
      - $ref: '#/components/schemas/search_CustomFieldValueV3'
      - properties:
          text:
            description: The text content.
            example: Text Field Value
            maxLength: 256
            minLength: 0
            type: string
        type: object
      description: String representation of the custom field value.
      required:
      - data_type
      - text
      title: Text Value
      type: object
    ol_DecimalEnrichmentValueV3:
      allOf:
      - $ref: '#/components/schemas/ol_EnrichmentValueV3'
      - properties:
          decimal:
            description: The decimal value
            example: 98.33
            type: number
        type: object
      description: Decimal representation of the enrichment value.
      required:
      - data_type
      - decimal
      title: Decimal Value
      type: object
    ol_EvaluationResultDeliveryResponseDTO:
      properties:
        method:
          enum:
          - WEBHOOK
          type: string
        webhook_identifier:
          type: string
      required:
      - method
      - webhook_identifier
      type: object
    search_StructuredAddressV3:
      allOf:
      - $ref: '#/components/schemas/search_AddressV3'
      - properties:
          address_line1:
            description: The first line of the address.
            example: 123 Main St
            maxLength: 256
            minLength: 0
            type: string
          address_line2:
            description: The second line of the address.
            example: Apt 4B
            maxLength: 256
            minLength: 0
            type: string
          address_type:
            $ref: '#/components/schemas/search_AddressTypeV3'
          country:
            description: 2 letter country code as defined by iso-3166-alpha-2.
            example: GB
            format: iso-3166-alpha-2
            pattern: ^([A-Z]{2})?$
            type: string
          country_subdivision:
            description: The country subdivision (e.g., state, province).
            example: Greater London
            maxLength: 256
            minLength: 0
            type: string
          postal_code:
            description: The postal code of the address.
            example: SW1A 0AA
            maxLength: 256
            minLength: 0
            type: string
          town_name:
            description: The town or city name.
            example: London
            maxLength: 256
            minLength: 0
            type: string
        type: object
      description: Represents a structured address with detailed components.
      required:
      - format
      title: Structured Address
      type: object
    ol_DecimalValue:
      allOf:
      - $ref: '#/components/schemas/ol_CustomFieldValue'
      - properties:
          decimal:
            description: The decimal value
            example: 10.02
            type: number
        type: object
      description: Decimal representation of the custom field value.
      required:
      - data_type
      - decimal
      type: object
    activity_ClearingIdentifierV3:
      description: ClearingIdentifier pairs a routing system with its specific value.
      properties:
        type:
          description: ClearingIdentifierType specifies the regional system used to route payments to a specific financial institution. These align with ISO 20022 External Clearing System Identification Codes.
          enum:
          - UK_SORT_CODE
          - US_ABA_ROUTING
          - IN_IFSC
          - AU_BSB
          - CA_TRANSIT
          - DE_BLZ
          - HK_BANK_CODE
          - SG_BANK_CODE
          - NZ_BANK_CODE
          - ZA_CLEARING_CODE
          - CH_SIC
          - JP_ZENGIN
          - OTHER
          type: string
        value:
          description: The raw string value of the code. For monitoring, this should be stored as-is without formatting/dashes.
          example: '123456'
          type: string
      required:
      - type
      - value
      type: object
    ol_PointOfSaleConditionV3:
      description: Contains contextual information about the card payment environment.
      properties:
        condition:
          $ref: '#/components/schemas/ol_PointOfSaleConditionCodeV3'
        entry_mode:
          $ref: '#/components/schemas/ol_PointOfSaleEntryModeV3'
      type: object
    search_ChannelV3:
      description: Represents the channel that initiated the transaction.
      discriminator:
        propertyName: type
      properties:
        network_details:
          $ref: '#/components/schemas/search_ChannelNetworkDetailsV3'
        type:
          description: Channel discriminator.
          enum:
          - DEVICE
          - ATM
          type: string
      required:
      - network_details
      - type
      type: object
    activity_UpdateCustomFieldRequest:
      properties:
        description:
          maxLength: 1000
          minLength: 0
          type:
          - string
          - 'null'
        display_name:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    ol_CustomFieldV3:
      description: A representation of a custom field.
      properties:
        key:
          description: The key of the custom field.
          example: field_key
          type: string
        value:
          discriminator:
            mapping:
              DECIMAL: '#/components/schemas/ol_DecimalValueV3'
              TEXT: '#/components/schemas/ol_TextValueV3'
            propertyName: data_type
          oneOf:
          - $ref: '#/components/schemas/ol_DecimalValueV3'
          - $ref: '#/components/schemas/ol_TextValueV3'
      required:
      - key
      - value
      type: object
    activity_BankPaymentMonetaryTransactionTypeDetailsV3:
      allOf:
      - $ref: '#/components/schemas/activity_MonetaryTransactionTypeDetailsV3'
      - properties:
          agents:
            description: Any intermediaries involved in the transaction between the creditor and the debtor.
            items:
              $ref: '#/components/schemas/activity_AgentV3'
            maxItems: 10
            minItems: 0
            type: array
          creditor:
            $ref: '#/components/schemas/activity_PartyIdentificationV3'
          debtor:
            $ref: '#/components/schemas/activity_PartyIdentificationV3'
          payment_scheme:
            $ref: '#/components/schemas/activity_PaymentSchemeV3'
          state:
            $ref: '#/components/schemas/activity_BankPaymentStateV3'
          ultimate_creditor:
            $ref: '#/components/schemas/activity_PartyIdentificationV3'
          ultimate_debtor:
            $ref: '#/components/schemas/activity_PartyIdentificationV3'
        type: object
      description: Models a transfer of funds from one bank account to another in a different financial institution.
      required:
      - creditor
      - debtor
      - payment_scheme
      - state
      - type
      title: Bank Payment Details
      type: object
    ol_TransactionScreeningEvaluationDTO:
      properties:
        error:
          $ref: '#/components/schemas/ol_EvaluationErrorDTO'
        outcome:
          enum:
          - UNKNOWN
          - PROCESS
          - HOLD
          - REJECT
          type: string
        payment_screening_configuration_identifier:
          format: uuid
          type: string
        processing_method:
          enum:
          - SYNCHRONOUS
          - ASYNCHRONOUS
          type: string
      required:
      - outcome
      - payment_screening_configuration_identifier
      - processing_method
      type: object
    ol_TransactionClassificationV3:
      description: Classifies a transaction as a specific high-level class of transaction.
      enum:
      - MONETARY
      example: MONETARY
      type: string
    search_PaginatedResponseTransactionV3:
      properties:
        first:
          description: The URL path to the first page.
          example: /v1/resource?page_number=1
          type: string
        next:
          description: The URL path to the next page.
          example: /v1/resource?page_number=4
          type:
          - string
          - 'null'
        prev:
          description: The URL path to the previous page.
          example: /v1/resource?page_number=2
          type:
          - string
          - 'null'
        self:
          description: The URL path to the current page.
          example: /v1/resource?page_number=3
          type: string
        total_count:
          description: Total number of items.
          example: 60
          format: int64
          type:
          - integer
          - 'null'
        transactions:
          items:
            $ref: '#/components/schemas/search_TransactionV3'
          type: array
[...]
