openapi: 3.2.0
info:
  title: Mesh Customers API
  version: v2.0
servers:
- description: ComplyAdvantage Mesh API
  url: https://api.mesh.complyadvantage.com
security:
- BearerAuth: []
tags:
- name: Customers
paths:
  /v2/customers:
    get:
      description: 'This endpoint returns a list of customers that match the specified search criteria.


        The response includes partial information for each customer, including essential fields from the customer profile, risk level, and status objects.


        Complete details for each customer can be retrieved by calling the relevant endpoint with a specific customer identifier.


        This endpoint can return up to 10,000 customers. For larger datasets, use the ''exports'' endpoint, which is designed for exporting large volumes of data.


        You need the "View customers" permission to use this endpoint.'
      operationId: customerGetCustomersList
      parameters:
      - description: Search customers by name or external identifier
        example: john doe
        in: query
        name: search
        required: false
        schema:
          type: string
      - example: '2024-01-01T00:00:00.000Z'
        in: query
        name: created_at_from
        required: false
        schema:
          example: '2024-01-01T00:00:00.000Z'
          format: date-time
          type: string
      - example: '2024-12-31T23:59:59.000Z'
        in: query
        name: created_at_to
        required: false
        schema:
          example: '2024-12-31T23:59:59.000Z'
          format: date-time
          type: string
      - example: '2024-01-01T00:00:00.000Z'
        in: query
        name: updated_at_from
        required: false
        schema:
          example: '2024-01-01T00:00:00.000Z'
          format: date-time
          type: string
      - example: '2024-12-31T23:59:59.000Z'
        in: query
        name: updated_at_to
        required: false
        schema:
          example: '2024-12-31T23:59:59.000Z'
          format: date-time
          type: string
      - example: PERSON
        in: query
        name: type
        required: false
        schema:
          example: PERSON
          type: string
      - example: HIGH
        in: query
        name: risk_level
        required: false
        schema:
          example: HIGH
          type: string
      - example: ACTIVE
        in: query
        name: status
        required: false
        schema:
          example: ACTIVE
          type: string
      - example: true
        in: query
        name: monitoring_enabled
        required: false
        schema:
          example: true
          type: boolean
      - example:
        - web
        in: query
        name: acquisition_source
        required: false
        schema:
          example:
          - web
          items:
            example: '["web"]'
            type: string
          type: array
      - example:
        - segment-1
        in: query
        name: segments
        required: false
        schema:
          example:
          - segment-1
          items:
            example: '["segment-1"]'
            type: string
          type: array
      - example:
        - label-1
        in: query
        name: labels
        required: false
        schema:
          example:
          - label-1
          items:
            example: '["label-1"]'
            type: string
          type: array
      - example: -created_at
        in: query
        name: sort
        required: false
        schema:
          example: -created_at
          type: string
      - example:
        - ABC123
        in: query
        name: industry_code
        required: false
        schema:
          example:
          - ABC123
          items:
            example: '["ABC123"]'
            type: string
          type: array
      - example:
        - Description of the industry code
        in: query
        name: industry_code_description
        required: false
        schema:
          example:
          - Description of the industry code
          items:
            example: '["Description of the industry code"]'
            type: string
          type: array
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_CustomersList'
          description: Get the list of customers
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found
      summary: Get a list of customers
      tags:
      - Customers
  /v2/customers/acquisition-sources:
    get:
      description: You need the "View customers" permission to use this endpoint.
      operationId: customerGetAcquisitionSources
      parameters:
      - example: web
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_PaginatedAcquisitionSourcesV2Response'
          description: Get a list of acquisition sources matching the search parameter.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found
      summary: Get a list of acquisition sources matching the search parameter
      tags:
      - Customers
  /v2/customers/external/{external_identifier}:
    get:
      description: 'This endpoint returns a 308 Permanent Redirect response, directing you to the get customer endpoint based on the provided external identifier.

        Many API libraries follow the automatic redirect but, in some programming languages it may requires an additional API call.


        You need the "View customers" permission to use this endpoint.'
      operationId: customerGetCustomerV2WithExternalIdentifier
      parameters:
      - description: The unique identifier for your customer that you set when creating the customer.
        example: external_identifier
        in: path
        name: external_identifier
        required: true
        schema:
          type: string
      responses:
        '308':
          description: Permanent Redirect
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found
      summary: Get customer using your identifier
      tags:
      - Customers
  /v2/customers/{customer_identifier}:
    get:
      description: 'Once the workflow status returns as COMPLETED, it is possible to collect the latest customer record.


        The response contains all the information submitted during the POST `/v2/customer` request.


        The customer-identifier can be found within the GET `/v2/workflows/` response from within the `step_output` within the `customer-creation` step.


        There is a number of customer statuses that can be returned from this endpoint:


        | Status name | Description |

        | ------ | ------ |

        |Processing| The customer has been created successfully but there are parts of the create-and-screen workflow that are still in progress|

        |Active|The customer is active - the initial risk level is not prohibited and there are no onboarding screening results, or these results were returned and their case status is accepted|

        |Closed|The customer is closed - the initial risk level is prohibited, or there are screening results and the case status is rejected, or maybe the client closed this customer for another reason.|


        You need the "View customers" permission to use this endpoint.'
      operationId: customerGetCustomerV2
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_CustomerV2'
          description: Get a customer.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: The customer doesn't exist.
      summary: Get customer details
      tags:
      - Customers
  /v2/customers/{customer_identifier}/cases:
    get:
      description: 'Returns a paginated list of cases associated with a customer.


        You need one of the "View cases (customer onboarding)", "View cases (customer monitoring)", "View cases (payment screening)" or "View cases (transaction monitoring)" permissions to use this endpoint.'
      operationId: casesService/v2/customers/customer_identifier/cases.get
      parameters:
      - description: The unique identifier of the customer.
        example: 01899c37-576b-7677-b41a-9c9fdbd3bde1
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          minimum: 1
          type: integer
      - description: 'Sorting criteria in the format of: `[-]property` (`-` descending modifier).


          * Default sort order is ascending (without `-`).


          * Multiple sort criteria are supported.'
        example:
        - -timestamp
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/case-management_PaginatedResponseCaseResponse'
          description: OK
      summary: Retrieve cases for a customer
      tags:
      - Customers
  /v2/customers/{customer_identifier}/monitor:
    get:
      description: 'This endpoint returns the monitor status for a single customer.


        You need the "View customer monitoring status" permission to use this endpoint.'
      operationId: customerGetMonitoringConfig
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_CustomerMonitoringData'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found
      summary: Get monitoring configuration of a customer
      tags:
      - Customers
    patch:
      description: 'This endpoint allows you to set the monitoring configuration for a single customer.


        You need "Access to base customer monitoring functionality" enabled and the "Monitor and unmonitor customers" permission to use this endpoint.'
      operationId: customerUpdateCustomerMonitorConfiguration
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer-manager_CustomerMonitoringDataApi'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_CustomerMonitoringData'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found
      summary: Update monitoring configuration for an existing customer
      tags:
      - Customers
  /v2/customers/{customer_identifier}/notes:
    get:
      description: 'This endpoint returns a paginated list of notes on a customer.


        You need the "View customers" permission to use this endpoint.'
      operationId: customerGetCustomerNotes
      parameters:
      - description: The unique identifier of the exiting customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_PaginatedCustomerNotesResponse'
          description: Successfully retrieved customer notes.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found
      summary: Get a list of notes on a customer
      tags:
      - Customers
    post:
      description: 'This endpoint enables you to create a note on a customer.


        You need the "Update customers" permission to use this endpoint.'
      operationId: customerCreateCustomerNote
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 123e4567-e89b-12d3-a456-426614174000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer-manager_CreateCustomerNoteRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Successful Response:
                  description: Successful Response
                  value:
                    contents: Customer contacted regarding account verification.
                    created_at: '2024-01-15T10:30:00.000Z'
                    created_by: 987fcdeb-51a2-43f1-b123-456789abcdef
                    identifier: 123e4567-e89b-12d3-a456-426614174000
                    type: CUSTOMER
              schema:
                $ref: '#/components/schemas/customer-manager_CreateCustomerNoteResponse'
          description: Customer Note created successfully.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Not Found.
      summary: Create note on a customer
      tags:
      - Customers
  /v2/customers/{customer_identifier}/products:
    get:
      description: 'This endpoint returns a list of the latest product information for a single customer.


        You need the "View customers" permission to use this endpoint.'
      operationId: customerGetProductsV2
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_PaginatedProductsV2Response'
          description: Get a customers products.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: The customer doesn't exist.
      summary: Get customer's products
      tags:
      - Customers
  /v2/customers/{customer_identifier}/reports:
    post:
      description: 'Calling this endpoint will return a download URL to a screening certificate for a specific customer. When the response is 201, it means the screening certificate is generated successfully, and can be downloaded from the link returned. When the response is 200, it indicates that the data for the certificate is not yet available and you should try again shortly.


        You need the "View customers" permission to use this endpoint.'
      operationId: screeningCertificatesServiceAPIPostReportsV2
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/cert_ReportsRequest'
              type: array
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                first: /v2/customers/44444444-4444-4444-4444-444444444444/reports?page_number=1
                next: null
                prev: null
                reports:
                - created_at: '1970-01-01T00:00:00.012Z'
                  created_by: 55555555-5555-5555-5555-555555555555
                  expires_at: '1970-01-01T00:00:00.012Z'
                  report_type: SCREENING_REPORT
                  status: NOT_READY
                self: /v2/customers/44444444-4444-4444-4444-444444444444/reports
                total_count: 1
          description: The customer report is not ready, please try again later.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cert_PaginatedResponseReport'
          description: The customer report has been generated successfully.
        '400':
          content:
            application/json:
              example:
                detail: There were validation errors with your request
                identifier: 018e1971-1c6f-761f-a510-43540727ff48
                instance: https://v2/customers/56fb9e63-de1b-4cbc-9e7e-c5e15391eb09/reports
                properties:
                  errors:
                  - field: report_type
                    reasons:
                    - key: report_type
                      message: SOME_OTHER_REPORT is not a valid report type
                      parameters: null
                    rejected: SOME_OTHER_REPORT
                status: 400
                timestamp: '2024-03-07T15:03:47.055Z'
                title: Invalid JSON Request
                type: about:blank
              schema:
                $ref: '#/components/schemas/cert_ProblemDetailErrorResponse'
          description: Bad request.
        '403':
          content:
            application/json:
              example:
                detail: You do not have the permissions needed to access the resource.
                identifier: 018d3157-0ec8-73ba-a684-865e5e2ff1ed
                instance: https://v2/customers/56fb9e63-de1b-4cbc-9e7e-c5e15391eb09/reports
                properties: {}
                status: 403
                timestamp: '2024-01-22T13:23:25.512Z'
                title: Forbidden
                type: about:blank
              schema:
                $ref: '#/components/schemas/cert_ProblemDetailErrorResponse'
          description: Invalid permissions.
        '404':
          content:
            application/json:
              example:
                detail: Customer for account 0190b67d-df91-79ac-a60f-2c985e85630e with identifier 0190b67d-a943-79e0-a520-fdb6dbcf93bb not found
                identifier: 018d3157-0ec8-73ba-a684-865e5e2ff1ed
                instance: https://v2/customers/0190b67d-a943-79e0-a520-fdb6dbcf93bb/reports
                properties: {}
                status: 404
                timestamp: '2024-01-22T13:23:25.512Z'
                title: Customer not found
                type: about:blank
              schema:
                $ref: '#/components/schemas/cert_ProblemDetailErrorResponse'
          description: The customer doesn't exist.
      summary: Generate a screening certificate for a specific customer
      tags:
      - Customers
  /v2/customers/{customer_identifier}/scores:
    get:
      description: 'This endpoint returns the latest risk score for a customer. It includes the overall score and level as well as a breakdown of the score by category.


        You need the "View customers" permission to use this endpoint.'
      operationId: riskScoringManagerServiceAPIGetRiskScore
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      - description: Optional field to sort risk models by.
        example: created_at
        in: query
        name: sort
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/risk-scoring_RiskScore'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/risk-scoring_ProblemDetailErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/risk-scoring_ProblemDetailErrorResponse'
          description: Not Found
      summary: Get customer's risk score
      tags:
      - Customers
    patch:
      description: 'Manually override the overall risk score level for a customer. Once overridden, the risk score type is set to MANUAL and will not be automatically recalculated by the system. The manual override persists until explicitly changed again through this endpoint or removed.


        You need the "Update customers" permission to use this endpoint.'
      operationId: riskScoringManagerServiceAPIUpdateRiskScore
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/risk-scoring_RiskScoreOverrideRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Manual Risk Score:
                  description: Manual Risk Score
                  value:
                    category_results: []
                    created_at: '2025-09-12T09:18:23.529Z'
                    customer_identifier: 01985c02-690f-7f0e-95ce-0dec29e985ff
                    customer_version: 1
                    overall_result:
                      level: LOW
                      score: 0
                    override_reason: Some detailed reason
                    risk_model_identifier: 01985c02-690f-7f0e-95ce-0dec29e985ff
                    risk_model_version: 1
                    score_identifier: 01993d37-fd29-70f6-bb67-391347164c97
                    type: MANUAL
                    updated_at: '2025-09-12T09:18:23.529Z'
                    updated_by: 01985c02-690f-7f0e-95ce-0dec29e985ff
              schema:
                $ref: '#/components/schemas/risk-scoring_RiskScore'
          description: Successfully overridden the customer's risk score level.
        '400':
          content:
            application/json:
              examples:
                Invalid Risk Level:
                  description: Invalid Risk Level
                  value:
                    detail: Missing or invalid risk level or override reason values
                    identifier: 018e1971-1c6f-761f-a510-43540727ff48
                    instance: https://example.com/v2/customers/00000000-0000-0000-0000-000000000000/scores
                    properties:
                      errors:
                      - field: overallResult.level
                        reasons:
                        - key: ValidRiskLevel
                          message: Risk level must be LOW, MEDIUM, HIGH or PROHIBITED
                        rejected: SKIPPED
                    status: 400
                    timestamp: '2024-03-07T15:03:47.055Z'
                    title: Validation failed
                    type: about:blank
              schema:
                $ref: '#/components/schemas/risk-scoring_ProblemDetailErrorResponse'
          description: Missing or invalid risk level or override reason
        '403':
          content:
            application/json:
              examples:
                Forbidden:
                  description: Forbidden
                  value:
                    detail: You do not have permission to override a customer risk score.
                    identifier: 018d3157-0ec8-73ba-a684-865e5e2ff1ed
                    instance: https://example.com/v2/customers/00000000-0000-0000-0000-000000000000/scores
                    properties: {}
                    status: 403
                    timestamp: '2024-01-22T13:23:25.512Z'
                    title: Forbidden
                    type: about:blank
              schema:
                $ref: '#/components/schemas/risk-scoring_ProblemDetailErrorResponse'
          description: Forbidden - insufficient permissions to override customer risk score.
        '404':
          content:
            application/json:
              examples:
                Customer not found:
                  description: Customer not found
                  value:
                    detail: Customer not found
                    identifier: 018e1971-1c6f-761f-a510-43540727ff48
                    instance: https://example.com/v2/customers/00000000-0000-0000-0000-000000000000/scores
                    properties:
                      errors: []
                    status: 404
                    timestamp: '2024-03-07T15:03:47.055Z'
                    title: Customer not found
                    type: about:blank
              schema:
                $ref: '#/components/schemas/risk-scoring_ProblemDetailErrorResponse'
          description: Customer or risk score not found.
      summary: Override customer's risk score level
      tags:
      - Customers
  /v2/customers/{customer_identifier}/transition:
    post:
      description: 'This endpoint allows you to change a customer''s status.


        You need the "Update customers" permission to use this endpoint.'
      operationId: customerTransitionCustomerStatus
      parameters:
      - description: The unique identifier we provided when you created the customer.
        example: 00000000-0000-0000-0000-000000000000
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer-manager_TransitionCustomerStatusRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Transition customer status OK.:
                  description: Transition customer status OK.
                  value:
                    status: CLOSED
              schema:
                $ref: '#/components/schemas/customer-manager_TransitionCustomerStatusData'
          description: Transition customer status OK.
        '400':
          content:
            application/json:
              examples:
                Invalid customer status:
                  description: Invalid customer status
                  value:
                    detail: There were validation errors with your request
                    identifier: 018e1971-1c6f-761f-a510-43540727ff48
                    instance: https://example/v2/customers/c16351c1-05d0-43c1-a4ce-02977f33464b/transition
                    properties:
                      errors:
                      - field: status
                        reasons:
                        - key: status
                          message: 'Unrecognised customer type: `SOMETHING`'
                          parameters: null
                        rejected: SOMETHING
                    status: 400
                    timestamp: '2024-03-07T15:03:47.055Z'
                    title: Invalid JSON Request
                    type: about:blank
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Bad request.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              examples:
                Customer not found:
                  description: Customer not found
                  value:
                    detail: Customer for account e8843d69-e2c9-48bf-8241-a3a71c8a1dbf with identifier c16351c1-05d0-43c1-a4ce-02977f33464b not found
                    identifier: 018d3157-0ec8-73ba-a684-865e5e2ff1ed
                    instance: https://example/v2/customers/c16351c1-05d0-43c1-a4ce-02977f33464b/transition
                    properties: {}
                    status: 404
                    timestamp: '2024-01-22T13:23:25.512Z'
                    title: Customer not found
                    type: about:blank
              schema:
                $ref: '#/components/schemas/customer-manager_ProblemDetailErrorResponse'
          description: Customer not found.
      summary: Transition a customer's status
      tags:
      - Customers
  /v2/customers/{customer_identifier}/workflows/sync/rescreen:
    post:
      description: 'This endpoint initiates the synchronous ''rescreen'' workflow for your customer. The workflow consists of two steps:

        1. **Customer Rescreening:** The customer is screened against the latest data sources to identify any new risk information.

        2. **Alerting:** If new, relevant, risks are found an alert is generated. The workflow executes synchronously, returning the workflow status and result immediately.

        The rescreening operation applies the rules and settings defined in the customer''s monitoring configuration. If no monitoring configuration is currently assigned to the customer, the system will default to using the initial screening configuration applied when the customer was first screened. Rescreen events count towards your total onboarding search volumes You need "Account has access to monitor on demand functionality" enabled to use this endpoint.'
      operationId: orchestrationLayerAPIPostV2RescreenCustomerWorkflowsSync
      parameters:
      - description: Identifier of the customer to rescreen
        example: b30a02b7-eb74-445a-b678-b778ab3f091e
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      - description: 'A unique, client-generated string that identifies a single operational attempt. You must generate a new key for every distinct operation, and use the exact same key when retrying a failed request to prevent duplication.

          The usage of this key is recommended to ensure safe retries without duplicate processing or billing. While any unique string is accepted, we strongly recommend using a standard UUID to guarantee global uniqueness.'
        example: 019b2d24-cdcc-737c-9186-2c87451edf7f
        in: header
        name: X-ComplyAdvantage-Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 0
          type: string
      - description: Specifies the screening logic to apply. Set to DELTA to perform a differential screen, which compares the new result against the customer's previous screening baseline and only alerts on new or changed risk factors.
        example: DELTA
        in: query
        name: rescreen_type
        required: false
        schema:
          default: DELTA
          enum:
          - DELTA
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                WORKFLOW COMPLETED:
                  description: Once all step workflows are marked as COMPLETED then the workflow status will be marked as COMPLETED.
                  value:
                    status: COMPLETED
                    step_details:
                      alerting:
                        identifier: null
                        status: COMPLETED
                        step_output:
                          alerts:
                          - identifier: 019b2ce4-6850-7451-8d50-a2525e482426
                      customer-rescreening:
                        identifier: 019b2ce4-5766-7a85-bcc8-138a1661d7d7
                        status: COMPLETED
                        step_output:
                          aml_types:
                          - SANCTION
                          - ADVERSE_MEDIA
                          - ADVERSE_MEDIA_V2_CYBERCRIME
                          - PEP_CLASS_1
                          - PEP_CLASS_2
                          - WARNING
                          rescreen_type: DELTA
                          rescreened_at: '2025-12-17T15:18:44.000Z'
                          rescreening_result: HAS_CHANGES
                    steps:
                    - customer-rescreening
                    - alerting
                    workflow_instance_identifier: 019b2ce4-5718-71be-9899-a90b319ea9d6
                    workflow_type: rescreen-customer
                WORKFLOW COMPLETED (NO CHANGES FOUND):
                  description: Once all step workflows are marked as COMPLETED then the workflow status will be marked as COMPLETED.
                  value:
                    status: COMPLETED
                    step_details:
                      alerting:
                        identifier: null
                        status: COMPLETED
                        step_output:
                          alerts: []
                      customer-rescreening:
                        identifier: 019b2ce4-5766-7a85-bcc8-138a1661d7d7
                        status: COMPLETED
                        step_output:
                          rescreen_type: DELTA
                          rescreened_at: '2025-12-17T15:18:44.000Z'
                          rescreening_result: NO_CHANGES
                    steps:
                    - customer-rescreening
                    - alerting
                    workflow_instance_identifier: 019b2ce4-5718-71be-9899-a90b319ea9d6
                    workflow_type: rescreen-customer
                WORKFLOW ERRORED:
                  description: If any of the step workflows returns an ERRORED state then the workflow status will be marked as ERRORED.
                  value:
                    status: ERRORED
                    step_details:
                      alerting:
                        identifier: null
                        status: SKIPPED
                        step_output: {}
                      customer-rescreening:
                        error_message: An error occurred while rescreening the customer
                        identifier: 019b298b-3ef5-75ef-85f7-bf43f6909986
                        status: ERRORED
                        step_output: {}
                    steps:
                    - customer-rescreening
                    - alerting
                    workflow_instance_identifier: 019b298b-3ed8-73a1-9efc-24c7f2dfc7b9
                    workflow_type: rescreen-customer
              schema:
                $ref: '#/components/schemas/ol_WorkflowState'
          description: Rescreen customer workflow executed
        '400':
          content:
            application/json:
              examples:
                Invalid workflow_type:
                  description: Invalid workflow_type
                  value:
                    identifier: 018c3ff3-7099-7090-a15b-8daee4cb81df
                    status: 400
                    timestamp: '2023-12-11T09:30:03.975Z'
                    title: 'Invalid workflow_type: Invalid'
                Validation error:
                  description: Validation error
                  value:
                    identifier: 018c3ff3-7099-7090-a15b-8daee4cb81df
                    status: 400
                    timestamp: '2023-12-11T09:30:03.975Z'
                    title: Validation error
              schema:
                $ref: '#/components/schemas/ol_ProblemDetailErrorResponse'
          description: Bad request
      summary: Rescreen a customer synchronously
      tags:
      - Customers
  /v2/customers/{customer_identifier}/workflows/sync/update-and-rescore:
    post:
      description: 'This endpoint initiates the synchronous ''update and re-score'' workflow for your customer in synchronous mode. The workflow consists of two steps:

        1. **Customer Record Update:** The customer record, and associated view of products, is updated.

        2. **Risk Scoring:** The risk score is re-calculated for the updated customer. The workflow executes synchronously returning the workflow status. This end-point is currently idempotent: in case of downstream error you can re-send the exact same request, and the workflow will be retried. In using this endpoint:

        - **The Customer profile is mandatory and must be provided in full:** * This endpoint overwrites the previous version of the customer record, any missing fields are treated as removed data and this data will be deleted from the customer view.

        - **The associated Product information is optional** and behaves in one of two ways: * If the `products` tag is not provided, the current list of products will stay as is * If the `products` tag is provided, it will overwrite the previous version of products. As such, all products - new, changed, and unchanged should be provided. You need the "Update customers" permission to use this endpoint.'
      operationId: updateCustomer
      parameters:
      - description: Customer identifier of the customer to update
        example: b30a02b7-eb74-445a-b678-b778ab3f091e
        in: path
        name: customer_identifier
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ol_UpdateAndRescoreCustomerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                WORKFLOW COMPLETED:
                  description: Once all step workflows are marked as COMPLETED then the workflow status will be marked as COMPLETED.
                  value:
                    status: COMPLETED
                    step_details:
                      customer-update:
                        identifier: 018c3ff3-7275-7dc2-94a5-fe30315240b1
                        status: COMPLETED
                        step_output:
                          customer_identifier: 018c3ff3-746b-70de-9eb5-033634ec07eb
                          customer_version: 2
                          external_identifier: abcd-1234
                      risk-scoring:
                        identifier: 018c3ff3-74c5-7645-b0fd-a2e24754067f
                        status: COMPLETED
                        step_output:
                          overall_level: LOW-RISK
                          overall_value: 0
                    steps:
                    - customer-update
                    - risk-scoring
                    workflow_instance_identifier: 018c3ff3-7099-7090-a15b-8daee4cb81df
                    workflow_type: update-and-rescore
                WORKFLOW ERRORED:
                  description: If any of the step workflows returns an ERRORED state then it will be required to contact support to resolve the issue.
                  value:
                    status: ERRORED
                    step_details:
                      customer-update:
                        error_message: Something wrong
                        identifier: 018c4014-1de6-7d9d-ae92-eeacf245a259
                        status: ERRORED
                        step_output: {}
                      risk-scoring:
                        identifier: null
                        status: SKIPPED
                        step_output: {}
                    steps:
                    - customer-update
                    - risk-scoring
                    workflow_instance_identifier: 018c4014-1c51-7b7d-a97c-044b5b624916
                    workflow_type: update-and-rescore
                WORKFLOW IN PROGRESS:
                  description: If any step workflow is still IN PROGRESS then the following response will be provided. Further checks will be required to receive the latest status.
                  value:
                    status: IN-PROGRESS
                    step_details:
                      customer-update:
                        identifier: 018c3ff4-7ad2-7bd3-bd5e-c31abc2f691c
                        status: IN-PROGRESS
                        step_output: {}
                      risk-scoring:
                        identifier: 018c3ff4-7d34-7017-a2fb-d39975d453fd
                        status: NOT-STARTED
                        step_output: {}
                    steps:
                    - customer-update
                    - risk-scoring
                    workflow_instance_identifier: 018c3ff4-7979-7f95-98be-886116e3315c
                    workflow_type: update-and-rescore
              schema:
                $ref: '#/components/schemas/ol_WorkflowState'
          description: Sync update and re-score workflow executed
        '400':
          content:
            application/json:
              examples:
                Validation error:
                  description: Validation error
                  value:
                    detail: There were validation errors with your request
                    identifier: 018e1971-1c6f-761f-a510-43540727ff48
                    instance: https://example/v2/customers/56fb9e63-de1b-4cbc-9e7e-c5e15391eb09/workflows/sync/update-and-rescore
                    properties:
                      errors:
                      - field: full_name
                        reasons:
                        - key: full_name
                          message: full_name size must be between 0 and 50
                          parameters: null
                        rejected: somenamesomenamesomenamesomenamesomenamesomenamesomenamesomenamesomename
                    status: 400
                    timestamp: '2024-03-07T15:03:47.055Z'
                    title: Invalid JSON Request
                    type: about:blank
              schema:
                $ref: '#/components/schemas/ol_ProblemDetailErrorResponse'
          description: Bad request
        '403':
          content:
            application/json:
              examples:
                Invalid Permissions:
                  description: Invalid Permissions
                  value:
                    detail: You do not have the permissions needed to access the resource.
                    identifier: 018d3157-0ec8-73ba-a684-865e5e2ff1ed
                    instance: https://example/v2/customers/56fb9e63-de1b-4cbc-9e7e-c5e15391eb09/workflows/sync/update-and-rescore
                    properties: {}
                    status: 403
                    timestamp: '2024-01-22T13:23:25.512Z'
                    title: Forbidden
                    type: about:blank
              schema:
                $ref: '#/components/schemas/ol_ProblemDetailErrorResponse'
          description: Forbidden
      summary: Update and re-score a customer synchronously
      tags:
      - Customers
components:
  schemas:
    risk-scoring_RiskScoreOverrideRequest:
      properties:
        calculate_automatically:
          type: boolean
        overall_result:
          $ref: '#/components/schemas/risk-scoring_OverallResultRequest'
        override_reason:
          maxLength: 1000
          minLength: 1
          type: string
      required:
      - override_reason
      type: object
    ol_DateValue:
      allOf:
      - $ref: '#/components/schemas/ol_CustomFieldValue'
      - properties:
          date:
            description: The date content.
            example: '2022-09-27T00:00:00.000Z'
            format: date
            type: string
        type: object
      description: Date representation of the custom field value.
      required:
      - data_type
      - date
      type: object
    customer-manager_CustomerForSearch:
      properties:
        acquisition_source:
          type:
          - string
          - 'null'
        company:
          $ref: '#/components/schemas/customer-manager_CompanyForSearch'
        created_at:
          format: date-time
          type:
          - string
          - 'null'
        customer_identifier:
          format: uuid
          type: string
        external_identifier:
          type:
          - string
          - 'null'
        monitor:
          $ref: '#/components/schemas/customer-manager_MonitorStatus'
        person:
          $ref: '#/components/schemas/customer-manager_PersonForSearch'
        scores:
          $ref: '#/components/schemas/customer-manager_RiskScore'
        status:
          enum:
          - ACTIVE
          - CLOSED
          - PROCESSING
          type:
          - string
          - 'null'
        undefined_customer_type:
          $ref: '#/components/schemas/customer-manager_UndefinedForSearch'
        updated_at:
          format: date-time
          type:
          - string
          - 'null'
      required:
      - customer_identifier
      type: object
    ol_EnrichmentTypeV3:
      description: The type of enrichment source.
      enum:
      - LOOKUP_LIST
      - REGEX_BOOLEAN
      example: LOOKUP_LIST
      type: string
    customer-manager_CustomFieldValue:
      description: The value of the custom field.
      discriminator:
        mapping:
          DATE: '#/components/schemas/customer-manager_DateValue'
          DATETIME: '#/components/schemas/customer-manager_DatetimeValue'
          DECIMAL: '#/components/schemas/customer-manager_DecimalValue'
          INTEGER: '#/components/schemas/customer-manager_IntegerValue'
          TEXT: '#/components/schemas/customer-manager_TextValue'
        propertyName: data_type
      properties:
        data_type:
          $ref: '#/components/schemas/customer-manager_CustomFieldDataType'
      required:
      - data_type
      type: object
    customer-manager_InBranch:
      allOf:
      - properties:
          branch_identifier:
            maxLength: 256
            minLength: 0
            type: string
        type: object
      type: object
    customer-manager_RiskScore:
      properties:
        overall_result:
          $ref: '#/components/schemas/customer-manager_RiskScoreResult'
      required:
      - overall_result
      type: object
    customer-manager_Date:
      properties:
        day:
          format: int32
          type:
          - integer
          - 'null'
        month:
          format: int32
          type:
          - integer
          - 'null'
        year:
          format: int32
          type:
          - integer
          - 'null'
      type: object
    customer-manager_MonitorStatus:
      properties:
        entity_screening:
          $ref: '#/components/schemas/customer-manager_EntityScreeningStatus'
      required:
      - entity_screening
      type: object
    case-management_VesselSubject:
      description: Vessel customer subject.
      properties:
        detail:
          $ref: '#/components/schemas/case-management_VesselSubjectDetail'
        external_identifier:
          description: Customer external identifier.
          type:
          - string
          - 'null'
        identifier:
          description: Customer unique identifier.
          format: uuid
          type: string
        name:
          description: Customer name.
          type: string
        risk_level:
          description: Customer current risk level.
          enum:
          - LOW
          - MEDIUM
          - HIGH
          - PROHIBITED
          - SKIPPED
          type:
          - string
          - 'null'
        type:
          enum:
          - CUSTOMER
          example: CUSTOMER
          type: string
        version:
          description: Customer version.
          format: int32
          type: integer
      required:
      - detail
      - identifier
      - name
      - type
      - version
      type: object
    cert_ReportsRequest:
      properties:
        report_type:
          enum:
          - SCREENING_REPORT
          type: string
      required:
      - report_type
      type: object
    customer-manager_DateValue:
      allOf:
      - $ref: '#/components/schemas/customer-manager_CustomFieldValue'
      - properties:
          date:
            description: The date content.
            example: '2022-09-27T00:00:00.000Z'
            format: date
            type: string
        type: object
      description: Date representation of the custom field value.
      required:
      - data_type
      - date
      type: object
    ol_StoredActivityStepOutput:
      properties:
        activity_identifier:
          format: uuid
          type: string
      required:
      - activity_identifier
      type: object
    case-management_CardPaymentSubject:
      description: Transaction subject as a card payment.
      properties:
        detail:
          $ref: '#/components/schemas/case-management_CardPaymentSubjectDetail'
        external_identifier:
          description: Transaction external identifier.
          type: string
        identifier:
          description: Transaction unique identifier.
          format: uuid
          type: string
        type:
          enum:
          - TRANSACTION
          example: TRANSACTION
          type: string
      required:
      - detail
      - external_identifier
      - identifier
      - type
      type: object
    customer-manager_Company:
      allOf:
      - properties:
          address:
            items:
              $ref: '#/components/schemas/customer-manager_Address'
            type: array
          alias:
            items:
              type: string
            type: array
          company_type:
            maxLength: 50
            minLength: 0
            type: string
          custom_fields:
            items:
              $ref: '#/components/schemas/customer-manager_CustomFieldInstance'
            type: array
          incorporation_date:
            $ref: '#/components/schemas/customer-manager_Date'
          industry:
            maxLength: 256
            minLength: 0
            type: string
          industry_codes:
            items:
              $ref: '#/components/schemas/customer-manager_IndustryCode'
            maxItems: 25
            minItems: 0
            type: array
          legal_name:
            maxLength: 256
            minLength: 0
            type: string
          place_of_registration:
            format: iso-3166-2
            maxLength: 6
            minLength: 2
            type: string
          registration_authority_identification:
            maxLength: 256
            minLength: 0
            type: string
          source_of_income:
            maxLength: 150
            minLength: 0
            type: string
          status_summary:
            enum:
            - UNKNOWN
            - ACTIVE
            - INACTIVE
            type: string
        type: object
      required:
      - legal_name
      type: object
    case-management_RemittancePaymentSummaryResponse:
      description: Summary of a Remittance Payment.
      properties:
        external_identifier:
          description: Payment external identifier.
          type: string
        identifier:
          description: Payment unique identifier.
          format: uuid
          type: string
        type:
          description: Payment type.
          enum:
          - REMITTANCE
          example: REMITTANCE
          type: string
      required:
      - external_identifier
      - identifier
      - type
      type: object
    ol_ScreeningResult:
      oneOf:
      - enum:
        - HAS-HITS
        - NO-HITS
        type: string
      - enum:
        - HAS_PROFILES
        - NO_PROFILES
        type: string
      type: object
    customer-manager_DecimalValue:
      allOf:
      - $ref: '#/components/schemas/customer-manager_CustomFieldValue'
      - properties:
          decimal:
            description: The decimal value
            example: 10.02
            type: number
        type: object
      description: Decimal representation of the custom field value.
      required:
      - data_type
      - decimal
      type: object
    ol_ContactInformation:
      properties:
        email_address:
          description: 'Valid email format: local-part@domain.tld (e.g., ''user@example.com''). TLD must be 2+ letters.'
          format: email
          items:
            description: 'Valid email format: local-part@domain.tld (e.g., ''user@example.com''). TLD must be 2+ letters.'
            format: email
            pattern: ^(?!\.)(?!.*\.{2})[A-Za-z0-9._%+-]+(?<!\.)@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$
            type: string
          pattern: ^(?!\.)(?!.*\.{2})[A-Za-z0-9._%+-]+(?<!\.)@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$
          type:
          - array
          - 'null'
        fax_number:
          items:
            type: string
          type:
          - array
          - 'null'
        phone_number:
          items:
            type: string
          type:
          - array
          - 'null'
        url:
          description: 'Max 256 characters. Protocol (http/https) is optional. Must have a valid domain with 2+ character TLD. Allowed path characters: letters, numbers, hyphens, dots, slashes. Allowed query param characters: letters, numbers, hyphens, ''='', ''&'', ''%''.'
          format: uri
          items:
            description: 'Max 256 characters. Protocol (http/https) is optional. Must have a valid domain with 2+ character TLD. Allowed path characters: letters, numbers, hyphens, dots, slashes. Allowed query param characters: letters, numbers, hyphens, ''='', ''&'', ''%''.'
            format: uri
            pattern: ^(https?://)?((\w-+\.)+\w-{2,})(/[\w\-./]*)?(\?[\w\-=&%]*)?$
            type: string
          pattern: ^(https?://)?((\w-+\.)+\w-{2,})(/[\w\-./]*)?(\?[\w\-=&%]*)?$
          type:
          - array
          - 'null'
      type: object
    ol_Online:
      properties:
        device_identifier:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        device_type:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        ip_address:
          type:
          - string
          - 'null'
        ip_format:
          enum:
          - IPV4
          - IPV6
          type:
          - string
          - 'null'
      type: object
    ol_CustomerScreeningStepOutput:
      properties:
        aml_types:
          items:
            enum:
            - UNSPECIFIED
            - ADVERSE_MEDIA
            - ADVERSE_MEDIA_GENERAL
            - ADVERSE_MEDIA_V2_OTHER_MINOR
            - ADVERSE_MEDIA_V2_EU_AML_DIRECTIVE
            - ADVERSE_MEDIA_V1_HIGH_RISK
            - ADVERSE_MEDIA_VIOLENT_CRIME
            - ADVERSE_MEDIA_V2_VIOLENCE_AML_CFT
            - ADVERSE_MEDIA_V2_VIOLENCE_NON_AML_CFT
            - ADVERSE_MEDIA_FINANCIAL_CRIME
            - WARNING
            - PEP
            - ADVERSE_MEDIA_V2_PROPERTY
            - PEP_CLASS_1_TO_3
            - ADVERSE_MEDIA_NARCOTICS
            - ADVERSE_MEDIA_V2_NARCOTICS_AML_CFT
            - FITNESS_PROBITY
            - ADVERSE_MEDIA_FRAUD
            - ADVERSE_MEDIA_V2_FRAUD_LINKED
            - PEP_CLASS_2
            - ADVERSE_MEDIA_V2_REGULATORY
            - PEP_CLASS_1
            - ADVERSE_MEDIA_V2_GENERAL_AML_CFT
            - ADVERSE_MEDIA_V2_OTHER_SERIOUS
            - ADVERSE_MEDIA_TERRORISM
            - ADVERSE_MEDIA_V2_FINANCIAL_AML_CFT
            - ADVERSE_MEDIA_V2_FINANCIAL_DIFFICULTY
            - PEP_CLASS_4
            - ADVERSE_MEDIA_V2_TERRORISM
            - ADVERSE_MEDIA_SEXUAL_CRIME
            - PEP_CLASS_3
            - ADVERSE_MEDIA_V2_CYBERCRIME
            - SANCTION
            - ADVERSE_MEDIA_V2_OTHER_FINANCIAL
            - SANCTION_RELATED
            - CUSTOM
            type: string
          type:
          - array
          - 'null'
        screening_result:
          $ref: '#/components/schemas/ol_ScreeningResult'
      required:
      - screening_result
      type: object
    ol_Salary:
      properties:
        amount:
          $ref: '#/components/schemas/ol_LongRange'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - TMT
          - UGX
          - UAH
          - AED
          - USN
          - UYU
          - UYI
          - UYW
          - UZS
          - VUV
          - VES
          - VED
          - VND
          - YER
          - ZMW
          - ZWL
          - XBA
          - XBB
          - XBC
          - XBD
          - XTS
          - XAU
          - XPD
          - XPT
          - XAG
          format: iso-4217
          type:
          - string
          - 'null'
      type: object
    case-management_VesselSubjectDetail:
      description: Vessel customer subject detail.
      properties:
        type:
          enum:
          - VESSEL
          example: VESSEL
          type: string
      required:
      - type
      type: object
    case-management_UndefinedSubjectDetail:
      description: Undefined customer subject detail.
      properties:
        type:
          enum:
          - UNDEFINED
          example: UNDEFINED
          type: string
      required:
      - type
      type: object
    risk-scoring_ListField:
      allOf:
      - $ref: '#/components/schemas/risk-scoring_Field'
      - properties:
          attribute_results:
            items:
              oneOf:
              - $ref: '#/components/schemas/risk-scoring_ListField'
              - $ref: '#/components/schemas/risk-scoring_ValueField'
            type: array
        type: object
      required:
      - attribute_name
      - attribute_results
      - score
      type: object
    case-management_RiskCatalogResponse:
      description: Risk catalog response containing catalog key and associated risk types.
      properties:
        catalog_key:
          description: Unique key for the risk catalog
          type: string
        risk_types:
          description: List of risk types associated with this risk catalog
          items:
            $ref: '#/components/schemas/case-management_RiskCatalogRiskTypesResponse'
          type: array
      required:
      - catalog_key
      - risk_types
      type: object
    ol_IntegerValue:
      allOf:
      - $ref: '#/components/schemas/ol_CustomFieldValue'
      - properties:
          integer:
            description: The integer content.
            example: 30
            format: int64
            type: integer
        type: object
      description: Integer representation of the custom field value.
      required:
      - data_type
      - integer
      type: object
    case-management_CustomerSubject:
      description: Customer subject.
      discriminator:
        mapping:
          COMPANY: '#/components/schemas/case-management_CompanySubject'
          PERSON: '#/components/schemas/case-management_PersonSubject'
          UNDEFINED: '#/components/schemas/case-management_UndefinedSubject'
          VESSEL: '#/components/schemas/case-management_VesselSubject'
        propertyName: detail.type
      oneOf:
      - $ref: '#/components/schemas/case-management_PersonSubject'
      - $ref: '#/components/schemas/case-management_CompanySubject'
      - $ref: '#/components/schemas/case-management_VesselSubject'
      - $ref: '#/components/schemas/case-management_UndefinedSubject'
      type: object
    customer-manager_ProductApi:
      properties:
        bank_account:
          $ref: '#/components/schemas/customer-manager_BankAccount'
        crypto_wallet:
          $ref: '#/components/schemas/customer-manager_CryptoWallet'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - TMT
          - UGX
          - UAH
          - AED
          - USN
          - UYU
          - UYI
          - UYW
          - UZS
          - VUV
          - VES
          - VED
          - VND
          - YER
          - ZMW
          - ZWL
          - XBA
          - XBB
          - XBC
          - XBD
          - XTS
          - XAU
          - XPD
          - XPT
          - XAG
          format: iso-4217
          type:
          - string
          - 'null'
        monthly_payment_amount:
          format: double
          type:
          - number
          - 'null'
        monthly_received_amount:
          format: double
          type:
          - number
          - 'null'
        monthly_transaction_count:
          format: int64
          type:
          - integer
          - 'null'
        name:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        onboarding_channel:
          $ref: '#/components/schemas/customer-manager_OnboardingChannelApi'
        purpose:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        status:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    case-management_CardPaymentSubjectDetail:
      description: Card payment subject detail.
      properties:
        type:
          enum:
          - CARD_PAYMENT
          example: CARD_PAYMENT
          type: string
      required:
      - type
      type: object
    ol_NetWorth:
      properties:
        amount:
          format: int64
          type:
          - integer
          - 'null'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - TMT
          - UGX
          - UAH
          - AED
          - USN
          - UYU
          - UYI
          - UYW
          - UZS
          - VUV
          - VES
          - VED
          - VND
          - YER
          - ZMW
          - ZWL
          - XBA
          - XBB
          - XBC
          - XBD
          - XTS
          - XAU
          - XPD
          - XPT
          - XAG
          format: iso-4217
          type:
          - string
          - 'null'
      type: object
    ol_ProductApi:
      description: Represents a list of products to update if present will update the customer with this object if not present will not update the customer products. They can be either a bank account or a crypto wallet.
      properties:
        bank_account:
          $ref: '#/components/schemas/ol_BankAccount'
        crypto_wallet:
          $ref: '#/components/schemas/ol_CryptoWallet'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - TMT
          - UGX
          - UAH
          - AED
          - USN
          - UYU
          - UYI
          - UYW
          - UZS
          - VUV
          - VES
          - VED
          - VND
          - YER
          - ZMW
          - ZWL
          - XBA
          - XBB
          - XBC
          - XBD
          - XTS
          - XAU
          - XPD
          - XPT
          - XAG
          format: iso-4217
          type:
          - string
          - 'null'
        monthly_payment_amount:
          format: double
          type:
          - number
          - 'null'
        monthly_received_amount:
          format: double
          type:
          - number
          - 'null'
        monthly_transaction_count:
          format: int64
          type:
          - integer
          - 'null'
        name:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        onboarding_channel:
          $ref: '#/components/schemas/ol_OnboardingChannelApi'
        purpose:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        status:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    case-management_CounterpartySubject:
      description: Counterparty subject.
      properties:
        external_identifier:
          description: Counterparty external identifier.
          type: string
        name:
          description: Counterparty name.
          type:
          - string
          - 'null'
        type:
          enum:
          - COUNTERPARTY
          example: COUNTERPARTY
          type: string
      required:
      - external_identifier
      - type
      type: object
    ol_Address:
      properties:
        address_line1:
          maxLength: 150
          minLength: 0
          type:
          - string
          - 'null'
        address_line2:
          maxLength: 150
          minLength: 0
          type:
          - string
          - 'null'
        country:
          enum:
          - AF
          - AX
          - AL
          - AN
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BQ
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - CV
          - KH
          - CM
          - CA
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - SZ
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KP
          - KR
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - MK
          - RO
          - RU
          - RW
          - RE
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - SS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - UM
          - US
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - XK
          - XT
          - XX
          - YE
          - ZM
          - ZW
          format: iso-3166-alpha-2
          type:
          - string
          - 'null'
        country_subdivision:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
        postal_code:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        town_name:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
        type:
          enum:
          - RESIDENTIAL_ADDRESS
          - MAILING_ADDRESS
          - OPERATING_ADDRESS
          - REGISTRATION_ADDRESS
          - BILLING_ADDRESS
          type:
          - string
          - 'null'
      type: object
    customer-manager_CustomerV2:
      properties:
        acquisition_source:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        company:
          $ref: '#/components/schemas/customer-manager_Company'
        created_at:
          format: date-time
          type: string
        customer_identifier:
          format: uuid
          type: string
        customer_since:
          $ref: '#/components/schemas/customer-manager_Date'
        external_identifier:
          maxLength: 256
          minLength: 0
          type: string
        person:
          $ref: '#/components/schemas/customer-manager_Person'
        status:
          enum:
          - ACTIVE
          - CLOSED
          - PROCESSING
          type: string
        undefined:
          $ref: '#/components/schemas/customer-manager_CustomerTypeUndefined'
        updated_at:
          format: date-time
          type: string
        version:
          format: int32
          type: integer
      required:
      - created_at
      - customer_identifier
      - external_identifier
      - status
      - updated_at
      - version
      type: object
    cert_PaginatedResponseReport:
      properties:
        first:
          description: The URL path to the first page.
          example: /v1/resource?page_number=1
          type: string
        next:
          description: The URL path to the next page.
          example: /v1/resource?page_number=4
          type:
          - string
          - 'null'
        prev:
          description: The URL path to the previous page.
          example: /v1/resource?page_number=2
          type:
          - string
          - 'null'
        reports:
          items:
            $ref: '#/components/schemas/cert_Report'
          type:
          - array
          - 'null'
        self:
          description: The URL path to the current page.
          example: /v1/resource?page_number=3
          type: string
        total_count:
          description: Total number of items.
          example: 60
          format: int64
          type:
          - integer
          - 'null'
      required:
      - first
      - self
      type: object
    customer-manager_CustomFieldInstance:
      description: The instance of a custom field as it relates to a specific customer.
      properties:
        key:
          description: The key of the custom field.
          example: field_key
          type: string
        value:
          oneOf:
          - $ref: '#/components/schemas/customer-manager_DateValue'
          - $ref: '#/components/schemas/customer-manager_DatetimeValue'
          - $ref: '#/components/schemas/customer-manager_DecimalValue'
          - $ref: '#/components/schemas/customer-manager_IntegerValue'
          - $ref: '#/components/schemas/customer-manager_TextValue'
      required:
      - key
      - value
      type: object
    ol_Date:
      properties:
        day:
          format: int32
          type:
          - integer
          - 'null'
        month:
          format: int32
          type:
          - integer
          - 'null'
        year:
          format: int32
          type:
          - integer
          - 'null'
      type: object
    ol_IndustryCode:
      properties:
        code:
          description: The alphanumeric value of the industry code, aligning to the Industry Code Type
          maxLength: 10
          minLength: 0
          type: string
        description:
          description: The description of the industry code
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        is_primary:
          description: Flag to indicate if this code is the customer's main line of business
          type: boolean
        type:
          description: The standard being used i.e. NAICS, SIC, SIC2007_1, NACE, etc.
          maxLength: 10
          minLength: 0
          type: string
      required:
      - code
      - is_primary
      - type
      type: object
    customer-manager_RiskScoreResult:
      properties:
        level:
          enum:
          - UNSPECIFIED
          - SKIPPED
          - UNKNOWN
          - LOW
          - MEDIUM
          - HIGH
          - PROHIBITED
          type:
          - string
          - 'null'
      type: object
    ol_StepDetails:
      properties:
        error_message:
          type:
          - string
          - 'null'
        identifier:
          description: '- For the alerting step, this field is always null at the step level.

            - Actual alert identifiers are nested within step_output.alerts[].identifier.'
          format: uuid
          type:
          - string
          - 'null'
        status:
          enum:
          - NOT-STARTED
          - IN-PROGRESS
          - COMPLETED
          - SKIPPED
          - ERRORED
          type: string
        step_output:
          $ref: '#/components/schemas/ol_StepOutput'
      required:
      - status
      type: object
    case-management_CryptoPaymentSubjectDetail:
      description: Crypto payment subject detail.
      properties:
        type:
          enum:
          - CRYPTO
          example: CRYPTO
          type: string
      required:
      - type
      type: object
    ol_LongRange:
      properties:
        high:
          format: int64
          type: integer
        low:
          format: int64
          type: integer
      required:
      - high
      - low
      type: object
    ol_InBranch:
      properties:
        branch_identifier:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
      type: object
    customer-manager_ResidentialInformation:
      properties:
        country_of_residence:
          enum:
          - AF
          - AX
          - AL
          - AN
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BQ
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - CV
          - KH
          - CM
          - CA
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - SZ
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KP
          - KR
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - MK
          - RO
          - RU
          - RW
          - RE
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - SS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - UM
          - US
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - XK
          - XT
          - XX
          - YE
          - ZM
          - ZW
          format: iso-3166-alpha-2
          type:
          - string
          - 'null'
        residential_status:
          enum:
          - RESIDENT
          - PERMANENT_RESIDENT
          - NON_RESIDENT
          - TAX_RESIDENT
          type:
          - string
          - 'null'
      type: object
    ol_CustomFieldDataType:
      description: The type of data stored in a custom field.
      enum:
      - TEXT
      - INTEGER
      - DECIMAL
      - DATE
      - DATETIME
      type: string
    ol_EnrichmentValueV3:
      description: The value of the enrichment.
      discriminator:
        propertyName: data_type
      properties:
        data_type:
          $ref: '#/components/schemas/ol_EnrichmentDataTypeV3'
      required:
      - data_type
      type: object
    customer-manager_NetWorth:
      properties:
        amount:
          format: int64
          type:
          - integer
          - 'null'
        currency:
          enum:
          - AFN
          - EUR
          - ALL
          - DZD
          - USD
          - AOA
          - XCD
          - XXX
          - ARS
          - AMD
          - AWG
          - AUD
          - AZN
          - BSD
          - BHD
          - BDT
          - BBD
          - BYN
          - BZD
          - XOF
          - BMD
          - INR
          - BTN
          - BOB
          - BOV
          - BAM
          - BWP
          - NOK
          - BRL
          - BND
          - BGN
          - BIF
          - CVE
          - KHR
          - XAF
          - CAD
          - KYD
          - CLP
          - CLF
          - CNY
          - COP
          - COU
          - KMF
          - CDF
          - NZD
          - CRC
          - CUP
          - CUC
          - ANG
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - SVC
          - ERN
          - SZL
          - ETB
          - FKP
          - FJD
          - XPF
          - GMD
          - GEL
          - GHS
          - GIP
          - GTQ
          - GBP
          - GNF
          - GYD
          - HTG
          - HNL
          - HKD
          - HUF
          - ISK
          - IDR
          - XDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KPW
          - KRW
          - KWD
          - KGS
          - LAK
          - LBP
          - LSL
          - ZAR
          - LRD
          - LYD
          - CHF
          - MOP
          - MKD
          - MGA
          - MWK
          - MYR
          - MVR
          - MRU
          - MUR
          - XUA
          - MXN
          - MXV
          - MDL
          - MNT
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - NIO
          - NGN
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SHP
          - WST
          - STN
          - SAR
          - RSD
          - SCR
          - SLL
          - SLE
          - SGD
          - XSU
          - SBD
          - SOS
          - SSP
          - LKR
          - SDG
          - SRD
          - SEK
          - CHE
          - CHW
          - SYP
          - TWD
          - TJS
          - TZS
[...]
