openapi: 3.2.0
info:
  title: Mesh Accounts API
  version: v2.0
servers:
- description: ComplyAdvantage Mesh API
  url: https://api.mesh.complyadvantage.com
security:
- BearerAuth: []
tags:
- name: Accounts
paths:
  /v2/accounts/me:
    get:
      description: Returns details about your account.
      operationId: identity_v2_accounts_me_getMyAccount
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_AccountData'
          description: OK
      summary: Get details about your account
      tags:
      - Accounts
    put:
      description: 'Changes the active logged in account for your user. A new token will need to be generated to authenticate subsequent requests.


        This endpoint cannot be used with API credentials.'
      operationId: identity_v2_accounts_me_updateUserAccountMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity_AccountSwitchRequestBody'
        required: true
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_ProblemDetailErrorResponse'
          description: Invalid input
      summary: Switch logged in account
      tags:
      - Accounts
  /v2/accounts/me/users:
    get:
      description: Returns all users that belong to your account.
      operationId: identity_v2_accounts_me_users_getMyAccountsUsers
      parameters:
      - deprecated: true
        description: Filter user by name.
        example: Doe
        in: query
        name: name_contains
        required: false
        schema:
          type: string
      - description: Search users.
        example: Doe
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Exclude deactivated users.
        example: true
        in: query
        name: active
        required: false
        schema:
          default: false
          type: boolean
      - description: Filter by roles assigned after the date.
        example: '2000-01-01T00:00:00.000Z'
        in: query
        name: assigned_at_from
        required: false
        schema:
          format: date
          type: string
      - description: Filter by roles assigned before the date.
        example: '2000-01-01T00:00:00.000Z'
        in: query
        name: assigned_at_to
        required: false
        schema:
          format: date
          type: string
      - description: Filter roles.
        example:
        - 00000000-0000-0000-0000-000000000000
        in: query
        name: role
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Do not include support users in the response.
        example: false
        in: query
        name: exclude_support_users
        required: false
        schema:
          default: false
          type: boolean
      - description: Include agents in the response.
        example: false
        in: query
        name: include_agents
        required: false
        schema:
          default: false
          type: boolean
      - description: One-based page index (1..N)
        example: 1
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The size of the page to be returned
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
      - description: 'Sorting criteria in the format of: `[-]property` (`-` descending modifier).


          * Default sort order is ascending (without `-`).


          * Multiple sort criteria are supported.'
        example:
        - name
        in: query
        name: sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - name
            - email
            - assigned_at
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_UsersResponse'
          description: OK
      summary: Get list of users in your account
      tags:
      - Accounts
components:
  schemas:
    identity_ProblemDetailErrorResponse:
      additionalProperties: true
      properties:
        detail:
          type: string
        identifier:
          format: uuid
          type: string
        instance:
          format: uri
          type: string
        status:
          format: int32
          type: integer
        timestamp:
          format: date-time
          type: string
        title:
          type: string
        type:
          format: uri
          type: string
      required:
      - identifier
      - timestamp
      type: object
    identity_UserData:
      description: List of users.
      properties:
        active:
          default: false
          description: If a user is active or deactivated.
          example: true
          type: boolean
        client_identifier:
          description: The unique identifier of the client.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        created_at:
          description: Date and time the user was created.
          format: date-time
          type: string
        deactivated_at:
          description: Date and time the user was deactivated.
          format: date-time
          type: string
        email:
          description: Email address of the user.
          example: example@mail.com
          type: string
        enforce_mfa_after:
          description: Date and time of when MFA will be enforced for the user.
          format: date-time
          type: string
        identifier:
          description: The unique identifier of the user.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        name:
          description: Full name of the user.
          example: John Doe
          type: string
        roles:
          description: User roles list
          items:
            $ref: '#/components/schemas/identity_StandardUserRole'
          type: array
        updated_at:
          description: Date and time the user was last updated.
          format: date-time
          type: string
        user_type:
          description: Specifies the type of the entity.
          enum:
          - AGENT
          - HUMAN
          - MACHINE_CREDENTIAL
          example: HUMAN
          type: string
      required:
      - active
      - client_identifier
      - email
      - identifier
      - name
      - user_type
      type: object
    identity_AccountData:
      properties:
        account_type:
          description: Type of the account
          enum:
          - CLIENT_ACCOUNT_TYPE_UNSPECIFIED
          - CLIENT_ACCOUNT_TYPE_NON_PRODUCTION
          - CLIENT_ACCOUNT_TYPE_PRODUCTION
          - UNRECOGNIZED
          example: CLIENT_ACCOUNT_TYPE_NON_PRODUCTION
          type: string
        active:
          default: false
          description: If the account is active or deactivated.
          type: boolean
        client_identifier:
          description: The unique identifier of the account's client.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        created_at:
          description: Date and time the account was created.
          format: date-time
          type: string
        deactivated_at:
          description: Date and time the account was deactivated.
          format: date-time
          type: string
        identifier:
          description: The unique identifier of the account.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        name:
          description: Name of the account
          example: A Bank PLC Sandbox
          type: string
        updated_at:
          description: Date and time the account was last updated.
          format: date-time
          type: string
      required:
      - account_type
      - active
      - client_identifier
      - identifier
      - name
      type: object
    identity_StandardUserRole:
      description: List of roles within the account.
      properties:
        assigned_at:
          description: Date and time the user was assigned the user role in the account.
          example: '2023-01-01T10:10:10.000Z'
          format: date-time
          type: string
        name:
          description: Name of the role
          example: Admin
          type: string
      required:
      - name
      type: object
    identity_AccountSwitchRequestBody:
      properties:
        account_identifier:
          description: The unique identifier of the account.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
      required:
      - account_identifier
      type: object
    identity_UsersResponse:
      properties:
        first:
          description: The url with parameters of the first page
          type: string
        next:
          description: The url with parameters of the next page, null if there are no more pages
          type:
          - string
          - 'null'
        prev:
          description: The url with parameters of the previous page, null if current page_number is 1
          type:
          - string
          - 'null'
        self:
          description: The url with parameters of the current page
          type:
          - string
          - 'null'
        total_count:
          description: Total number of users.
          example: 60
          format: int64
          type:
          - integer
          - 'null'
        users:
          description: List of users.
          items:
            $ref: '#/components/schemas/identity_UserData'
          type: array
      required:
      - first
      - users
      type: object
  securitySchemes:
    BearerAuth:
      description: HTTP Bearer Token Authentication
      scheme: bearer
      type: http
